@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "BookmanOldStyle";
  src: url("../fonts/BookmanOldStyle.ttf");
}
:root {
  --main-color: white;
  --submain-color: black;
  --bg-color: black;
  --font-sizeh1: 34px;
  --font-sizeh2: 24px;
  --font-sizeh3: 18px;
  --font-sizep: 16px;
  --font-sizespan: 14px;
}

[class*=__container] {
  max-width: 101.25rem;
  padding: 3.125rem 0.9375rem;
  margin: 0 auto;
}

p {
  color: rgba(255, 255, 255, 0.174);
}

.wrapper {
  background-color: rgb(13, 13, 13);
}

.wrapper__container {
  position: relative;
  background-color: white;
}

.btn-group {
  display: flex;
  justify-content: space-around;
}

.btn-group select {
  padding-right: 30px; /* Добавляем отступ для иконки */
}

.d-inline-block select {
  cursor: pointer;
  margin-right: 3.125rem;
}

.d-inline-block label {
  border: 1px solid rgb(227, 39, 39);
  background-color: rgb(227, 39, 39);
  color: white;
  font-size: 1.125rem;
  border-radius: 0.625rem;
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: italic;
  padding: 0.625rem;
}

.btn {
  padding: 0.9375rem;
  font-size: 1.25rem;
  border-radius: 0.625rem;
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: italic;
  box-shadow: 1px 1px 5px black;
}
.btn:hover {
  background-color: rgb(128, 128, 241);
  border: 2px solid black;
}

.btn-primary {
  background-color: rgb(38, 186, 15);
  border: 2px solid rgb(38, 186, 15);
  color: rgb(16, 16, 16);
}
.btn-primary:hover {
  background-color: rgb(143, 241, 128);
  border: 2px solid black;
}

.filter {
  background-color: rgb(251, 163, 163);
  border: 2px solid rgb(251, 163, 163);
  color: rgb(16, 16, 16);
}
.filter:hover {
  background-color: rgb(243, 93, 93);
  border: 2px solid black;
}

.tovar {
  background-color: rgb(117, 10, 225);
  border: 2px solid rgb(117, 10, 225);
  color: rgb(247, 245, 245);
}
.tovar:hover {
  background-color: rgb(165, 90, 240);
  border: 2px solid black;
}

.tbody {
  display: block; /* Позволяет применять прокрутку к tbody */
  max-height: 1200px; /* Ограничиваем высоту для прокрутки */
  overflow-y: auto; /* Включаем вертикальную прокрутку */
}

.tableted {
  margin-top: 3.125rem;
  max-height: 93.75rem; /* Ограничение высоты блока */
  overflow: hidden; /* Скрываем все, что выходит за пределы блока */
}

.sticky-header th {
  position: sticky; /* Делаем заголовок липким */
  top: 0; /* Приклеиваем к верхней части блока */
  background-color: rgb(233, 226, 226);
  z-index: 1; /* Устанавливаем порядок наложения */
}

.table {
  width: 100%; /* Ширина таблицы 100% */
  border: 1px solid black;
  width: 87.5rem;
  margin: 0 auto;
  font-size: 1.125rem;
  width: 100%; /* Ширина таблицы 100% */
}

thead {
  background-color: rgb(233, 226, 226);
}

th {
  font-size: 1.25rem;
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 0.625rem;
}

.tbodyses tr {
  background-color: rgba(233, 226, 226, 0.347);
  border-radius: 0.3125rem;
  margin: 0.3125rem 0;
  box-shadow: 1px 1px 5px black;
}

.tbodyses td {
  font-size: 1.125rem;
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0.625rem;
}/*# sourceMappingURL=style.css.map */