// обновлять страницу после смены стиля рут ....

@import "null.scss";
@import "var.scss";
@import "basestyle.scss";

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@function toRem($value) {
	// Базовый размер шрифта (обычно 16px)
	$baseFontSize: 16;
	// Вычисление значения в rem
	@return ($value / $baseFontSize) * 1rem;
}
// !Миксины ================================================================================
// adaptiveValue = ($property-css стиль, $pcSize-максимальный параметр, $mobSize-минимальный параметр)

$maxWidth: 1920; // Ширина полотна (макета)

@mixin adaptiveValue($property, $pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;

	@media (min-width: toRem(1920)) {
		#{$property}: #{$pcSize + px};
	}

	@media (max-width: toRem(1920)) {
		@media (max-width: 1920px) {
			#{$property}: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 767px) / #{$maxWidth}));
		}

		// @media (max-width: 767px) {
		// 	#{$property}: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
		// }
	}
}
//   @include adaptiveValue ($property , $pcSize, $mobSize);

// ..................................................................................
// общие стили
[class*="__container"] {
	max-width: toRem(1920);
	padding: toRem(50) toRem(15);
	margin: 0 auto;
}
// ......................................................................................
p {
	color: rgba(255, 255, 255, 0.174);
}
.wrapper {
	background-color: rgb(13, 13, 13);
}
.wrapper__container {
	position: relative;
	background-color: white;
}
.btn-group {
	display: flex;
	justify-content: space-around;
}
.mb-3 {
}
.d-inline-block select {
	cursor: pointer;
	margin-right: toRem(20);
	// background-color: rgb(18, 6, 6);
}

.d-inline-block label {
	border: 1px solid rgb(227, 39, 39);
	font-size: toRem(18);
	border-radius: toRem(10);
	font-family: "Philosopher", sans-serif;
	font-weight: 700;
	font-style: italic;
	padding: toRem(10);
	margin-right: toRem(20);
}
.btn {
	padding: toRem(15);
	font-size: toRem(24);
	border-radius: toRem(10);
	font-family: "Philosopher", sans-serif;
	font-weight: 700;
	font-style: italic;
	background-color: blue;
	border: 2px solid blue;
	color: white;

	&:hover {
		background-color: rgb(128, 128, 241);
		border: 2px solid black;
		
	}
}
.btn-primary {
}
.ms-2 {
}
.form-control {
}
.w-auto {
}

.tableted {
	margin-top: toRem(50);
	max-height: 1500px; /* задайте высоту, достаточную для прокрутки */
	overflow-y: auto;
}

.sticky-header {
	position: sticky;
	top: 0; /* это значение фиксирует шапку относительно верхней части родительского элемента */
	background-color: rgb(233, 226, 226);
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1); /* добавляет тень для лучшей читаемости */
	z-index: 1; /* чтобы шапка была выше остального содержимого таблицы */
}
.table {
	position: sticky;
	top: 0;
	border: 1px solid black;
	width: toRem(1680);
	margin: 0 auto;
	font-size: toRem(18);
}

thead {
	background-color: rgb(233, 226, 226);
}

th {
	font-size: toRem(24);
	font-family: "Philosopher", sans-serif;
	font-weight: 700;
	font-style: normal;
	padding: toRem(10);
}
