<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Редагування товару</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

        <link rel="stylesheet" href="src\main/resources/static/css/style.css">
      
        <link rel="stylesheet" th:href="@{/css/style.css}">



<body>

    <div class="wrapper wrrr">
        <div class="background-image pr"></div>
        <div class="wrapper__container">

            <div class="product">
                <h2>Картка товару</h2>
                <form th:action="@{/articles/{id}(id=${article.getId()})}" th:object="${article}" method="post">

                    <div class="form__block">
                        <div class="form__block--block">
                            <input type="hidden" name="_method" value="PUT">

                            <label for="name">Назва</label>
                            <input class="input-field" type="text" th:field="*{name}" id="name" />
                            <div class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                                Помилкове
                                ім'я</div>
                        </div>

                        <div class="form__block--block">
                            <label for="purchase">Ціна закупівлі</label>
                            <input class="input-field" type="text" th:field="*{purchase}" id="purchase" />
                            <div class="error-message" th:if="${#fields.hasErrors('purchase')}" th:errors="*{purchase}">
                                Помилкова
                                ціна
                            </div>
                        </div>

                        <div class="form__block--block">
                            <label for="sellingPrize">Ціна продажу</label>
                            <input class="input-field" type="text" th:field="*{sellingPrize}" id="sellingPrize" />
                            <div class="error-message" th:if="${#fields.hasErrors('sellingPrize')}"
                                th:errors="*{sellingPrize}">
                                Помилкова
                                ціна продажу
                            </div>

                        </div>

                    </div>


                    <div class="form__block">
                        <div class="form__block--block">
                            <label for="spentMoney">Витрати</label>
                            <input class="input-field" type="text" th:field="*{spentMoney}" id="spentMoney" />
                            <div class="error-message" th:if="${#fields.hasErrors('spentMoney')}"
                                th:errors="*{spentMoney}">
                                Помилкові
                                витрати
                            </div>
                        </div>

                        <div class="form__block--block">
                            <label for="quantity">Кількість куплено</label>
                            <input class="input-field" type="text" th:field="*{quantity}" id="quantity" />
                            <div class="error-message" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">
                                Помилкова
                                кількість
                            </div>
                        </div>

                        <div class="form__block--block">
                            <label for="soldQuantity">Кількість продано</label>
                            <input class="input-field" type="text" th:field="*{soldQuantity}" id="soldQuantity" />
                            <div class="error-message" th:if="${#fields.hasErrors('soldQuantity')}"
                                th:errors="*{soldQuantity}">
                                Помилкова
                                кількість
                            </div>

                        </div>

                    </div>

                </form>

                <div class="button__block--status">
                    <label class="product__status" for="status">Статус</label>
                    <select id="status" class="form-control" th:field="*{status}">
                        <option value="" disabled selected>Оберіть статус</option>
                        <option th:each="status: ${statuses}" th:value="${status}" th:text="${status.alias}"></option>
                    </select>

                    <div class="button__block">
                        <div class="button__block--button">
                            <div class="d-flex justify-content-start">
                                <button type="submit" class="btn btn-primary">Зберегти</button>
                                <a href="/articles" class="btn btn-back">Назад</a>
                            </div>
                            <form th:action="@{/articles/{id} (id=${article.getId()})} " th:object="${article}"
                                method="post" class="mt-3">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger">Видалити</button>
                            </form>
                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>



</body>

</html>