<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Всі товари</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0 , user-scalable = 0"">

    <link rel=" stylesheet" href="scss/style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>

<body>
    <div class="wrapper">
        <div class="wrapper__container">
            <div class="btn-group mb-3" role="group" aria-label="Actions">
                <form th:action="@{/articles/new-article}" method="get" class="d-inline-block">
                    <button type="submit" class="btn btn-primary">Додати новий товар</button>
                </form>

                <form th:action="@{/categories/new-category}" method="get" class="d-inline-block ms-2">
                    <button type="submit" class="btn btn-primary">Додати нову категорію</button>
                </form>

                <form th:action="@{/articles/filter-by-status}" method="get" class="d-inline-block">
                    <label for="status">Статус</label>
                    <select id="status" name="status" class="form-control  d-inline-block w-auto">
                        <option th:each="status:${statuses}" th:value="${status}" th:text="${status.getAlias()}">
                        </option>
                    </select>
                    <button type="submit" class="btn btn-primary">Фільтрувати</button>
                </form>

                <form th:action="@{/articles}" method="get" class="d-inline-block">
                    <button type="submit" class="btn btn-primary">Всі товари</button>
                </form>
            </div>

            <div class="tableted">
                <table class="table table-striped">
                    <thead class="sticky-header">
                        <tr>
                            <th>ID</th>
                            <th>Категорія</th>
                            <th>Назва</th>
                            <th>Ціна закупівлі</th>
                            <th>Ціна продажу</th>
                            <th>Витрати</th>
                            <th>Прибуток</th>
                            <th>Кількість</th>
                            <th>Продано</th>
                            <th>Залишок</th>
                            <th>Статус</th>
                            <th>Дата створення</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="article : ${articles}">
                            <td th:text="${article.id}"></td>
                            <td th:text="${article.category.name}"></td>
                            <td>
                                <a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.name}"></a>
                            </td>
                            <td th:text="${article.purchase}"></td>
                            <td th:text="${article.sellingPrize}"></td>
                            <td th:text="${article.spentMoney}"></td>
                            <td th:text="${article.profit}"></td>
                            <td th:text="${article.quantity}"></td>
                            <td th:text="${article.soldQuantity}"></td>
                            <td th:text="${article.remainder}"></td>
                            <td th:text="${article.status.getAlias()}"></td>
                            <td th:text="${article.createdDate}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad quidem provident in accusamus tempore ea eaque?
            Numquam obcaecati odio in cupiditate provident ut aperiam dolores esse impedit, ipsam porro officia alias
            hic velit dolor eum quibusdam, corrupti mollitia blanditiis quae commodi. Laudantium provident sed quae, est
            dolore numquam distinctio neque corrupti fuga quis reprehenderit, expedita voluptate vel magnam impedit
            vitae quod odio culpa. Alias dignissimos blanditiis quo ab laudantium officia, ipsa eaque, sit totam ratione
            inventore incidunt odit pariatur commodi ipsum neque voluptate, rem mollitia dolorum numquam! Eveniet
            voluptatum repudiandae dolores? Impedit odit, vitae laudantium eius eligendi nam animi ipsa. Soluta cum
            doloribus quia dolores cumque debitis, vel blanditiis voluptas corporis veritatis ad illo, sequi eius, iure
            nihil sint? Eius ullam necessitatibus inventore deleniti dicta adipisci aspernatur placeat odio, voluptatem
            a eum nemo fugit labore corporis nesciunt, corrupti doloribus. Eligendi ex qui iusto reiciendis. Quis
            pariatur eos modi odit, quisquam repudiandae sit aperiam molestias error. Ex natus necessitatibus quam
            cupiditate maxime, porro provident similique amet minus deserunt commodi at reprehenderit. Nesciunt, earum
            officiis delectus consequatur error in nihil reprehenderit dolore fugiat, nemo et, quos ut fuga? Voluptatum
            odit totam reprehenderit quae quidem amet eum vel hic facere, rerum dignissimos et, voluptates ducimus
            dolore officia cum adipisci similique. Sunt, impedit earum. Commodi, dolores ipsam? Cupiditate quidem illo
            molestias aperiam magni impedit! Suscipit reiciendis voluptatum perferendis ullam ducimus necessitatibus
            tenetur mollitia animi voluptates laborum ipsa quo illum velit quibusdam possimus iure earum consequuntur
            eum quas vitae rem, numquam commodi? Harum nam mollitia vero, dolor quas quod! Temporibus aspernatur magnam
            at voluptas ex doloremque itaque modi laborum minima dicta, hic, repellendus, saepe sunt voluptatibus quo
            delectus suscipit laudantium obcaecati iste fugit unde. Ab nobis provident, ratione unde corrupti, molestias
            eos reprehenderit temporibus, saepe inventore corporis illo rem id expedita. Nobis, quae ipsam corrupti
            officiis eius deserunt consectetur nam quaerat ratione quibusdam, et non facere! Blanditiis exercitationem
            explicabo molestias dolore in dolores sint officiis vitae, repellendus, consequuntur doloribus veniam?
            Ratione officiis temporibus sunt quidem voluptatibus explicabo tempore fuga assumenda, ipsum pariatur
            perspiciatis ipsa fugiat enim porro molestiae dolorem quo adipisci excepturi eaque reprehenderit itaque
            dolores nisi maiores aut! Ad amet nemo harum fuga doloribus ab veritatis asperiores reprehenderit, dolores
            alias et sint explicabo deleniti, error autem, repellendus id ut. Autem, ullam dolor expedita dolorem itaque
            voluptatibus ab voluptate dolorum, minima blanditiis sapiente porro corporis deleniti ipsa veniam minus
            error officiis omnis modi magni in, nobis similique atque? Culpa inventore quam non! Labore libero quas
            ullam eius laudantium assumenda soluta, fuga exercitationem temporibus tenetur qui, autem pariatur vel sunt
            nisi ex, vitae repudiandae odit repellat dolorum numquam adipisci quibusdam. Enim laudantium quod vitae
            praesentium cumque inventore, natus est facilis. Neque porro earum explicabo reprehenderit architecto sed
            harum ipsum illum ut totam vel autem, doloremque veniam? Quae reprehenderit, unde deserunt laborum quasi
            vitae quos asperiores commodi numquam? Adipisci necessitatibus quidem aliquam, maxime recusandae fugit
            dolores magni? Aspernatur laudantium repellat minus accusamus fugiat iure porro deleniti suscipit ea id!
            Exercitationem fuga minus non vel perspiciatis? Dolore eum debitis officia ex obcaecati dolorum recusandae
            inventore exercitationem fugit maxime illo, ut suscipit ducimus. Et ipsum accusamus id amet. Tempore
            voluptates earum facilis ullam quo exercitationem hic error sint vero accusamus ducimus, voluptas ea harum
            ex maxime debitis sequi nisi architecto tempora quasi minus? Minima quo quisquam nam dolore. Cupiditate
            expedita suscipit iusto dignissimos nemo delectus magnam repellat voluptatibus quidem modi earum laborum
            totam hic obcaecati exercitationem aperiam tempore veniam, at facilis vel? Odit, ex facere expedita possimus
            ipsum quia ab, maiores, alias ullam doloribus nemo enim officia minus eaque cum veritatis molestias
            accusantium quas vel provident? Dignissimos autem, laudantium fugiat suscipit consectetur mollitia esse
            facere veritatis aut ab aperiam libero, nam atque maxime quia perferendis saepe, voluptatum quas quod
            aliquam architecto. Hic dolorum maxime accusantium eos magni ratione necessitatibus ipsam nihil quasi.
            Repellat ipsa modi explicabo temporibus necessitatibus obcaecati culpa quibusdam officia? Deleniti quia
            asperiores laboriosam dicta voluptates, magni reprehenderit deserunt similique eos recusandae at officia sit
            praesentium numquam maiores enim alias facilis modi. Velit quas aliquam animi molestiae, rem repudiandae?
            Fuga repellat doloremque repellendus ipsa corporis, accusamus illum totam qui pariatur aspernatur recusandae
            voluptatibus ab debitis animi, quisquam voluptatum iusto sed quasi nisi atque, molestias rem. Magnam, libero
            veniam, praesentium nisi aperiam excepturi quos vitae at ab ullam sapiente optio eligendi ad cumque eum
            repellendus maxime reprehenderit fugiat aliquid incidunt eius? Praesentium nam libero at, asperiores totam
            commodi eligendi obcaecati adipisci sequi consequuntur laboriosam, itaque quo. Quisquam placeat quis vero
            eos magni dolores! Voluptates modi doloribus sint deserunt blanditiis odio, tempore quisquam consectetur
            debitis asperiores accusamus itaque magnam placeat nisi voluptatum fugiat? Illum, accusantium unde, ullam
            dolore consectetur placeat ducimus nihil minus iste totam nam quaerat. Quibusdam vero eius similique illo
            eveniet suscipit perspiciatis? Distinctio, voluptates iste dolor, minima eveniet quae minus dignissimos
            dolores fugit, deserunt qui veritatis quibusdam voluptatem quod ut hic accusamus! Consequatur fugit
            temporibus dolores. Minus cum praesentium nemo asperiores labore magnam aut iste reiciendis. Animi, eum nam
            vitae necessitatibus aliquid facere a eveniet delectus quo reiciendis beatae rerum veniam tempora. Totam eum
            minima necessitatibus nulla provident quibusdam iusto delectus libero dolore, et repudiandae repellat modi
            cupiditate enim non quidem, nobis quis! Incidunt, mollitia similique! Maxime minima sunt quidem rem
            inventore beatae cumque necessitatibus illum saepe optio. Hic non rerum debitis alias consequuntur fugiat?
            Unde, ullam. Fugit laboriosam nostrum facilis sapiente rerum, molestiae obcaecati maiores ut voluptatem
            deserunt odio! Eos nisi saepe perspiciatis omnis facilis. Necessitatibus inventore cupiditate dolores alias
            quisquam beatae ratione odio accusantium, velit eaque voluptate expedita eius sapiente dolorum, perspiciatis
            odit animi? A laboriosam quidem placeat cum odio, nemo esse soluta saepe tenetur vitae, illum quisquam
            nulla! Dolores sunt dignissimos nostrum itaque cumque minima corrupti quasi ab explicabo! Consectetur nobis
            eveniet pariatur expedita reiciendis ducimus temporibus? Voluptatem, expedita. Soluta commodi reprehenderit
            asperiores. Laborum, assumenda ipsam voluptatum autem error tenetur accusantium deleniti reprehenderit
            molestias. Cumque quaerat quidem velit, ea harum ratione laudantium sed tenetur distinctio! Quia debitis
            quidem sint repellat enim qui laudantium sequi dolore maiores ut saepe repudiandae, in laboriosam dolorem
            consequuntur numquam vel pariatur. Optio, asperiores? Veritatis accusantium blanditiis, laudantium
            reprehenderit vel unde, sapiente aliquid ducimus magni eaque enim, nisi doloribus saepe vitae architecto
            optio in impedit deserunt qui explicabo quidem dolores. Quam praesentium hic obcaecati aut deserunt, maxime
            cupiditate ex tempore modi minus, sit voluptatem necessitatibus id nulla sapiente vitae fugiat deleniti
            exercitationem culpa quis harum. Aliquid dicta explicabo aspernatur officia. Sunt iste quae eum mollitia
            odio deleniti, illo optio quia nostrum, tempora blanditiis aspernatur quasi dolorem! Soluta inventore, at
            exercitationem doloremque dolorum fugit voluptatum est amet, sapiente qui commodi! Accusantium aut eos
            recusandae. Numquam pariatur doloribus, consequuntur atque magni omnis a voluptatem ratione deleniti amet
            ducimus dolorem maxime excepturi officia quod sequi alias, odit debitis porro eveniet neque commodi corporis
            quae libero? Dolor ad itaque beatae, distinctio nemo officia labore neque aliquid sed cumque dicta molestiae
            ducimus odio maxime, exercitationem rerum consequatur sapiente sint, nostrum illum libero fugiat!
            Voluptatibus, repellendus. Omnis, at. Necessitatibus minima reprehenderit sit ad quaerat autem nam quas
            assumenda, iste quam aspernatur, adipisci eaque magni, quidem eius laudantium quasi? Repellendus veritatis
            atque facilis doloribus ipsa illo nobis, vel dicta ullam voluptatem ex sapiente voluptates cum porro aperiam
            delectus deleniti quae reprehenderit eum! Excepturi, necessitatibus at blanditiis voluptates, iste magnam
            esse corrupti voluptate alias debitis dolore, eligendi eveniet laborum magni? Debitis delectus asperiores,
            provident cupiditate, accusantium repudiandae alias harum unde nemo rem illum consectetur, sequi quae eius
            aliquam omnis cumque dolorem praesentium culpa accusamus officiis maxime non. Ad omnis esse voluptate
            aliquam libero vel placeat exercitationem veritatis expedita. Quaerat, omnis. Aut magnam amet dolores
            aliquid. Repellendus, fugit? Quod quaerat ex culpa a eius, sequi ipsam tempora alias quasi odio totam
            voluptatum inventore explicabo vero accusamus libero, sed cum aut delectus doloremque hic omnis nisi enim.
            Veniam omnis est reprehenderit rem, sed odit laudantium commodi atque quidem numquam eveniet repudiandae
            ipsam tenetur ratione fugiat optio nemo, quo necessitatibus laborum, temporibus enim. Voluptatem reiciendis
            repudiandae, ipsa impedit, quam et doloribus adipisci eos ducimus eligendi dolore ullam vero voluptas,
            recusandae temporibus quibusdam beatae illum aspernatur. Fugit fugiat repellat at magni quisquam vitae sit
            commodi quidem, aperiam consequatur tenetur ab itaque, inventore, dignissimos repellendus aspernatur natus
            cumque reiciendis! Blanditiis, aperiam totam. Libero eaque dicta delectus quos fugiat laudantium tenetur
            nemo alias, odit eum qui soluta voluptates architecto praesentium cum veniam laborum, id, officiis sapiente
            ex suscipit. Officia excepturi accusantium, distinctio numquam commodi illo sequi quas veniam ipsam iste,
            tempora, alias magnam? Ipsa sunt animi recusandae ipsam suscipit voluptatem aperiam dolores cupiditate.
            Aperiam nisi obcaecati cumque at consequatur reiciendis doloremque cum amet aspernatur placeat culpa
            nesciunt, eveniet sint voluptas animi quam dicta minus beatae assumenda? Nisi modi ad, labore deleniti enim
            repudiandae, maxime officia aperiam sed amet ducimus id incidunt! Laboriosam beatae qui, corrupti
            reprehenderit hic itaque tenetur! Corrupti exercitationem provident veniam, repellat saepe sit maxime
            molestias dolorum, natus deserunt blanditiis maiores molestiae quae minima aliquid ratione! Consequatur ad
            dicta quos, quisquam voluptatum ex dolorum unde aperiam beatae pariatur eius molestiae impedit? Incidunt,
            molestiae excepturi minima eligendi, nam ipsam quibusdam, accusamus voluptate consectetur ea porro modi
            libero error nihil earum rem. Quibusdam quis corporis aperiam aspernatur! Officia, nobis sint tempora
            ratione voluptatibus aut quis. Nobis id perferendis, at molestiae debitis consectetur reprehenderit
            assumenda porro magnam quibusdam itaque deleniti tempore voluptatibus deserunt unde officia repudiandae
            voluptatum eveniet nemo doloribus sequi? Magni unde veniam itaque? Doloribus cum expedita consectetur rem
            consequuntur adipisci ducimus laborum quis soluta sed exercitationem neque reprehenderit voluptate ad dicta
            labore omnis impedit ab ipsa, eius excepturi perspiciatis. Minima, quis totam incidunt eaque assumenda
            quaerat id aut dolor commodi, sed odio! Delectus reiciendis deserunt repellat? Facilis hic vero id maxime
            incidunt aspernatur quidem tempore eius. Modi similique, voluptates quia, ipsa vero quod quidem tenetur
            vitae ullam nesciunt omnis natus aspernatur est. Est nesciunt saepe officia ipsum doloremque maiores quasi
            voluptas cupiditate itaque repellat! A, magnam ea doloribus sed, sunt vero soluta non in laboriosam nesciunt
            iure cumque pariatur? Ab minus repellat accusamus? Reprehenderit dolore autem laboriosam eum doloremque
            architecto facilis perspiciatis mollitia iusto odit consectetur, beatae debitis ex, placeat doloribus
            necessitatibus? Numquam hic nisi quas rem, amet modi, aliquam provident culpa dolor, laborum fugiat enim!
            Reprehenderit id tempore possimus, numquam perspiciatis ducimus nisi laborum maiores molestias, adipisci
            iure voluptas officiis ipsam esse aliquam ex aspernatur pariatur tenetur, eum accusamus non repellendus odio
            accusantium error. At animi tempore similique laudantium iusto, facere explicabo aliquam, deleniti quod, ab
            officia consectetur qui. Veniam, sit ipsum quaerat fugiat laboriosam animi debitis quibusdam nobis magnam.
            Aliquam at ratione blanditiis perspiciatis quasi eligendi cumque facilis nobis, modi impedit consequuntur
            alias id quisquam, illum suscipit asperiores accusamus autem dignissimos, eaque molestias reprehenderit!
            Distinctio veritatis deleniti quia quae. Fuga corrupti veritatis sit hic, officia enim natus deleniti! Id
            neque fugiat aut saepe, blanditiis quos voluptas dignissimos ducimus distinctio accusamus non exercitationem
            delectus nisi laudantium quidem reprehenderit qui rem ut. Quibusdam impedit, magni illo eaque vero mollitia,
            corporis modi officiis iste deleniti repellat aspernatur repellendus temporibus culpa illum corrupti non
            maxime praesentium at. Eligendi mollitia itaque laborum inventore commodi corrupti! Esse, itaque cupiditate
            dolor error assumenda voluptates consequatur, pariatur inventore expedita doloribus facilis illo fugiat cum
            deleniti, quibusdam temporibus totam illum modi vel dolorem sed qui. Repellendus voluptate iusto inventore
            eum cumque fugit beatae, cupiditate similique exercitationem eveniet ipsum doloremque distinctio aspernatur
            est dolores at possimus cum explicabo porro, quas veritatis ratione placeat quia eius! Exercitationem amet
            accusamus architecto dolorum aliquam impedit iure nihil quas explicabo repellendus doloremque et laborum
            deleniti odit cum at dicta vero, ab vitae nobis! Repellendus accusantium porro ratione magnam iusto totam
            error, cum aut sint beatae at quibusdam asperiores quam omnis culpa officia perferendis. Harum dolore
            explicabo praesentium rem impedit debitis beatae alias incidunt voluptate! Voluptates reiciendis deleniti
            similique qui eos voluptate aspernatur consequatur eveniet facilis tempore asperiores corporis consectetur
            minima animi quasi veritatis cupiditate minus accusantium, ratione eius expedita? Nobis expedita cumque
            praesentium pariatur! Odit perferendis quia facilis, dolorum tempora sit magnam, eos recusandae aliquid
            temporibus alias reiciendis ab delectus id optio. Cum, animi inventore! Molestiae laboriosam alias, laborum,
            dolore minus et veniam voluptatibus, maxime accusamus ducimus pariatur inventore consequatur iste nostrum
            assumenda. Cum dolore, perferendis commodi maiores perspiciatis quia, nulla provident vero expedita modi vel
            aspernatur minus pariatur? Harum laborum modi deserunt veniam perferendis dolor quibusdam saepe consectetur,
            quae at pariatur quam eveniet eligendi sit iste ea! Odit, consequuntur. Eum a soluta tempora quidem
            consequuntur fuga cupiditate at excepturi provident sint pariatur libero, reiciendis ea ullam iusto? Nam
            autem possimus reiciendis quis debitis dolores hic eligendi non eveniet, dolore veritatis sed tempore
            explicabo numquam, minus repellendus, porro assumenda temporibus aut illo consectetur suscipit? Molestiae
            magni similique labore sunt assumenda iusto reiciendis ipsa ratione mollitia saepe, possimus sit itaque, eum
            in quis tempore neque sint fuga nobis facilis omnis soluta praesentium quos! Ullam, inventore doloremque!
            Impedit, nobis possimus? Dignissimos quis minima accusamus veritatis ipsum ipsa corrupti nobis fugit ullam
            tempora corporis qui provident ut quibusdam explicabo odio animi ex sequi dolor fugiat, totam consequuntur
            ad ea! Quo provident optio asperiores dolor facilis id nesciunt ex facere minus nobis, deserunt, explicabo
            earum illum nam voluptatibus doloribus. Atque, inventore quam quisquam provident deleniti beatae rerum
            blanditiis asperiores iusto ipsa, dignissimos laborum vel fugit, impedit qui ea. Aliquam placeat facilis
            quisquam temporibus natus magnam cupiditate rerum nihil reiciendis dignissimos porro asperiores nesciunt
            officia libero iure voluptate rem delectus quam mollitia fugit, velit eveniet omnis! Asperiores, sequi earum
            autem perspiciatis mollitia officiis id ducimus nam eum dolorum. Inventore sint qui earum consequatur,
            facilis optio nisi eos dignissimos rerum, dolorum, expedita necessitatibus corporis! Ab nobis iusto aut,
            quisquam ipsam unde voluptates optio suscipit ut iste reprehenderit recusandae fugit in ipsa tempora facilis
            voluptate odit doloremque? Quam praesentium provident officia distinctio nemo tempore autem, minima
            similique voluptatibus porro. Illum ipsam assumenda a obcaecati veniam. Earum voluptate, magnam debitis,
            quam dolores, aspernatur labore quasi possimus quo consequuntur tenetur vel libero laborum. Mollitia
            consequatur voluptatem necessitatibus quia esse aut dicta placeat, neque nam in blanditiis ab rerum nemo
            nisi repellat natus modi laboriosam, delectus, quaerat itaque maxime saepe! Libero saepe vero tempora magnam
            quas quasi praesentium amet, dolorem voluptas ipsum officiis? Impedit distinctio corrupti ut a maiores
            dolorum magni dolore laboriosam inventore? Ex quam quia amet animi veniam ea beatae sequi odit officiis esse
            totam, modi neque distinctio deserunt obcaecati consectetur id aspernatur molestiae laboriosam suscipit?
            Quod recusandae placeat aliquid quidem quaerat aliquam. Consectetur in et maxime eveniet animi asperiores
            voluptatum molestiae aperiam minus totam corporis error, labore cum! Rerum eligendi voluptas alias
            temporibus ipsam quia, sapiente quo error impedit neque optio porro praesentium maxime delectus consequatur
            quidem, voluptate laborum modi atque quae. Explicabo quod iure saepe recusandae? Libero id alias cumque odit
            quidem. Suscipit magnam ex laborum? Minima veritatis magnam inventore deserunt repellendus eaque maxime
            accusantium. Quaerat nostrum ducimus magni, numquam quam laudantium iure culpa placeat id illo,
            reprehenderit doloremque sint mollitia adipisci tempore minus pariatur non est delectus tenetur doloribus
            quisquam! Facilis sequi, earum velit officiis harum dolores aliquid ipsam nisi suscipit impedit beatae
            doloremque ex nam itaque deleniti eos enim ratione facere quam similique est? Esse vel quo pariatur, earum
            magni sed. Magni aspernatur, similique explicabo iure aperiam optio voluptate itaque. Veniam iusto doloribus
            dolor nobis inventore eum corporis illum autem voluptas libero? Veniam corporis quaerat qui accusantium iste
            explicabo vitae numquam aliquam? Fugiat nisi, beatae distinctio suscipit adipisci dolor recusandae, facere
            ipsa repudiandae natus deserunt sit sunt magni laborum neque consequatur quas quia sequi ea eos aliquid
            corrupti. Vitae beatae hic officia dolores eos quaerat veniam laborum voluptatum nemo laboriosam. Ea
            deserunt perspiciatis nam. Deleniti ut minima eos laudantium harum porro, tempore, modi ad maiores rerum
            repellat. Nihil blanditiis aliquid debitis aliquam consectetur earum, ea quas. Molestias, quidem. Culpa
            laudantium est doloremque aliquid cum repellendus fuga odio? Voluptatum debitis beatae sed qui ullam ipsa
            pariatur ipsam vero nemo? Nihil cum iusto quo maiores officia doloribus odio iste expedita tempora velit
            itaque omnis numquam, nemo dolore, eveniet debitis error reprehenderit deleniti? Cumque harum suscipit
            molestias quam eos eveniet culpa laudantium odio, consectetur deserunt tenetur. Officiis doloribus nihil id
            suscipit quos asperiores iure consequatur voluptatum fugiat dolores! Ipsam, eius placeat in aspernatur
            consectetur quidem illo exercitationem inventore sit, laudantium veniam. Voluptate harum facilis magni eius
            vitae nam animi itaque iure maxime, unde quaerat, numquam est eligendi laudantium. Quia quod molestiae
            repellendus reiciendis mollitia? Similique optio nostrum soluta eveniet est deserunt minus sequi omnis harum
            fuga ipsa minima, repellendus suscipit atque, sapiente quod illum, perferendis voluptatum totam repudiandae
            maxime facilis animi. Id cupiditate neque saepe adipisci cumque aspernatur veritatis natus perferendis
            error, laborum aliquam odit dicta sequi ducimus autem voluptates nobis et eligendi dignissimos nam illum
            debitis? In qui commodi maxime consectetur, rem voluptas sit voluptatem assumenda quisquam delectus animi
            aut laboriosam error fuga quia pariatur doloribus blanditiis! Quisquam dignissimos deserunt deleniti
            architecto ipsam quas velit, eius voluptas! Ullam cupiditate quis accusantium deleniti sint. Totam dolorem
            pariatur optio nobis maxime? Ea, neque nobis molestiae expedita deserunt fugiat molestias ab dolorum
            cupiditate minus explicabo ducimus odio alias quasi facere velit asperiores odit sit aspernatur. Libero
            quae, beatae optio esse omnis obcaecati voluptates dolores, nam cum, culpa voluptatum vel quam doloribus.
            Reiciendis ipsum quod iste assumenda sunt eaque aut eligendi cupiditate nemo unde nesciunt quas quo earum
            delectus cumque optio eum doloremque placeat, veniam rerum maiores aliquid harum rem. Beatae soluta labore
            ad! Tempore ea obcaecati praesentium eius asperiores tenetur sed at non aut enim quidem odit mollitia vel
            eveniet pariatur itaque, hic repudiandae ut incidunt numquam voluptatibus similique? Quos, quis enim. Quae,
            explicabo quod natus ullam autem architecto eligendi, dignissimos voluptas aliquam minus neque deserunt!
            Dicta consequuntur vitae excepturi, ad voluptas cupiditate eligendi assumenda ea ipsam adipisci placeat
            maiores quisquam consectetur, aspernatur doloremque veritatis molestias! Vel, rerum modi. Itaque deleniti,
            consequuntur quis aperiam fugiat beatae incidunt explicabo dignissimos reiciendis earum molestiae
            reprehenderit odio. Error, est aperiam. Eius voluptatum vel beatae asperiores? Aperiam, fuga sit? Nihil quas
            porro et facere eos dolorum eaque aspernatur nam. Explicabo id assumenda quo nam perferendis maiores ullam
            nisi ipsum sapiente eligendi, tenetur optio, facilis unde nesciunt aperiam! Dicta, reiciendis nisi. Vel
            laudantium cum, est eligendi consectetur quos corporis voluptas modi architecto ut perspiciatis quibusdam
            dolor mollitia. Asperiores, vel voluptates illum expedita id nemo eum voluptatibus minima eaque libero
            obcaecati corrupti sapiente in dolor perferendis quidem earum nam suscipit. Autem cupiditate consequatur
            ratione exercitationem sequi obcaecati nobis a debitis? Eligendi voluptate itaque, totam aspernatur
            reprehenderit soluta iusto possimus, provident nesciunt, et pariatur neque odio dolorem placeat. Inventore
            atque vel placeat enim, beatae, asperiores nulla, veritatis ad officia expedita iusto? Dolores perferendis
            delectus dolor id repellat, inventore commodi in excepturi! Quae et, corrupti quo inventore ipsum cum iste
            consequatur accusamus, eius dolor, nostrum quam ea fugit est sunt eaque atque quia necessitatibus reiciendis
            aspernatur delectus accusantium fuga sit tenetur? Itaque voluptates at atque, totam optio repellat ratione
            ipsa nisi asperiores maxime! Quibusdam neque, veritatis quidem adipisci odio quae nisi. Dicta consequatur
            dolores, veritatis repellendus doloremque nemo excepturi iusto sequi vel tempora natus esse neque,
            voluptatem voluptate odit, quasi mollitia. Temporibus sunt delectus, officiis laboriosam inventore earum
            possimus sint adipisci consequuntur accusantium tenetur porro maxime culpa. Nisi iste animi nihil libero
            recusandae, vitae quis error inventore dolorum corrupti minus atque facilis eum voluptate, ex, nesciunt
            doloribus totam impedit? Nemo, quas impedit? Dolor perspiciatis totam incidunt rerum praesentium qui
            assumenda quis quod delectus. Eum est aspernatur, minus perspiciatis tempore, nemo iste fugit molestias
            delectus, consequuntur et nisi laboriosam saepe dolorum? Eaque nesciunt debitis, perspiciatis culpa pariatur
            aut dolor hic dolore suscipit similique. Laudantium officiis aspernatur repudiandae a, doloribus omnis
            alias. Rem deserunt quam optio? Iusto quod distinctio harum. Amet exercitationem, pariatur cum soluta,
            maxime delectus minima qui eius cupiditate voluptatum error possimus quaerat! Eligendi minima eius
            asperiores saepe dolores iure aut soluta, quidem at tempore corrupti exercitationem iusto earum
            reprehenderit explicabo ullam iste nobis natus, alias provident debitis in veritatis laudantium! Nostrum aut
            unde corporis placeat fugit perferendis nesciunt sunt porro quo at nam laudantium autem nulla excepturi
            officiis rem sequi voluptates, consequuntur modi dolores vero eius! Nostrum, aliquam numquam debitis odio
            sint fugiat eligendi veniam sit praesentium illo eaque tempore voluptatibus necessitatibus corporis soluta
            fuga facere. Culpa magni nostrum voluptate earum quidem modi animi. Veritatis dignissimos, consequuntur
            fugiat reprehenderit ex consequatur iusto numquam sint? Sed vero vitae commodi aspernatur, et praesentium
            doloremque maxime dolores perspiciatis? Aperiam, asperiores quaerat quam nobis cupiditate accusamus,
            obcaecati sit, sequi aut cumque sapiente porro ab maxime suscipit laboriosam dignissimos repellat? Possimus
            non expedita deleniti sint delectus assumenda ut quasi reiciendis velit reprehenderit distinctio blanditiis
            neque eligendi, debitis quia aspernatur hic illo culpa accusamus eum. Consequuntur, commodi error
            accusantium illo atque sapiente veniam exercitationem esse a deleniti, molestiae magni similique libero,
            recusandae impedit ipsam vel quibusdam. Ipsa, asperiores esse cumque dolor nisi modi animi et doloribus
            optio placeat, suscipit repudiandae minima, quos nulla obcaecati tempore reprehenderit vel voluptas dolorem
            nihil architecto culpa? Natus, quidem. Vel deleniti optio unde commodi ab autem? Nulla nobis, facilis
            voluptatum, saepe iure molestiae repellendus commodi nemo enim fugit assumenda hic ipsum deleniti distinctio
            magni? Pariatur aliquid recusandae illo optio ratione nam officia reiciendis voluptatem, enim dicta saepe
            quas totam vel omnis, ducimus mollitia beatae adipisci? Distinctio architecto adipisci, deleniti non minima
            dolorum expedita assumenda dignissimos eaque voluptatibus, dolorem consequuntur quo ullam tempore quos
            voluptatem repudiandae consequatur quibusdam aliquam, pariatur consectetur? Iste iusto nulla debitis
            architecto sapiente non ipsum, pariatur, deserunt, repellendus vitae aperiam doloremque culpa recusandae
            molestiae ab? Doloremque reiciendis at rerum debitis ipsum inventore, cum tenetur similique dicta incidunt.
            Laboriosam, quas ipsum minima, itaque rerum quod culpa accusamus dolorum sunt veniam dolore sed aspernatur
            corrupti quam ex, maxime tenetur amet et numquam repudiandae beatae. Repudiandae dolorem ad sed, at
            laboriosam corporis culpa similique incidunt illum molestiae quasi in ea necessitatibus. Possimus beatae ex
            optio illo! Exercitationem odit nesciunt quam consequuntur doloremque qui, quod ducimus. Tempore, eos ab
            ducimus perspiciatis autem sunt provident praesentium quis quas nostrum, nisi obcaecati consectetur quaerat
            debitis ea odit amet quod similique aut dolores? Officiis nesciunt sed fuga, sequi accusamus amet nihil
            soluta sunt, quaerat architecto voluptas! Ullam doloremque libero magnam saepe. Quos cum placeat rem
            temporibus pariatur quis, numquam modi quod consequuntur sapiente animi nihil. A et ad nisi eligendi quam
            tenetur! Culpa vel modi rerum sapiente, esse, autem explicabo voluptate ipsa aperiam doloremque commodi
            possimus fuga quidem a, et quas perspiciatis officiis? Unde id molestiae quas debitis iusto quidem, soluta
            vero, voluptatem facilis ipsum error distinctio minus tenetur perferendis illo neque dolorem sunt adipisci
            nam quod? Cupiditate animi aperiam ducimus doloribus minus quibusdam, asperiores praesentium earum, autem
            quae impedit magnam voluptatum a nihil eum maiores odio. Voluptates dolores nisi quis modi quae facilis
            aspernatur amet sequi molestiae porro esse aperiam, rerum omnis nemo eos, ullam, doloremque provident? Sit
            omnis exercitationem deleniti tempore optio? Delectus fuga cumque facilis, ad atque eos, voluptatem
            repudiandae aperiam earum, eius reprehenderit. Sunt quibusdam maiores sapiente! Ad odit possimus impedit
            delectus nulla temporibus? Corrupti velit aliquam fuga a alias, vel neque libero accusamus nesciunt magni
            possimus autem voluptates nemo numquam illum perspiciatis repellendus aliquid quis doloribus et veniam
            consectetur laborum consequatur quod? In recusandae maxime quia velit earum, animi consectetur quam tenetur
            eos soluta, accusamus quibusdam reprehenderit sit vero repellendus cum quos? Minima blanditiis consectetur
            repellat nulla? Iste repellendus blanditiis eum eos. Animi quo numquam placeat delectus vero perspiciatis
            sed, quibusdam hic nobis culpa eaque ex optio quasi. Nemo itaque dolorem eaque repudiandae voluptatum quos.
            Voluptas nostrum quidem laudantium facilis. Rerum corporis itaque nam, ad quod dignissimos ducimus velit
            corrupti iusto, ex impedit temporibus expedita perferendis asperiores. Consequatur commodi eum quasi nemo
            ipsum? Inventore quasi soluta consequuntur dolores obcaecati, enim repellendus quos! Nihil sunt beatae, at
            quia nam autem culpa harum quo, saepe, repudiandae non quidem eveniet fugit doloremque sapiente suscipit
            distinctio labore ab consectetur voluptatum error ratione cupiditate quos minima! Voluptates minima non quas
            sed ullam alias ex eius est velit provident iste, iusto atque praesentium quo facere sapiente modi
            perferendis quae necessitatibus a quis officiis rem placeat. Enim eligendi excepturi consequuntur neque
            eaque esse inventore sunt cupiditate magnam totam. Illum delectus quibusdam tempora similique enim
            doloremque dolore aliquam laudantium accusantium itaque voluptates, fuga ut quas magni numquam eveniet
            suscipit. Sequi dignissimos nulla labore placeat minima laudantium blanditiis consequatur maxime nihil
            exercitationem incidunt quas dolores sit enim, illum quidem facilis voluptates, reprehenderit et sunt.
            Incidunt, quia consectetur? Ullam laudantium corrupti, excepturi quae quas consequuntur sunt fugiat dolor,
            eum quaerat aliquam impedit placeat autem pariatur ipsam sed, aperiam perferendis repellat ex iusto.
            Repellat odit sunt accusantium velit necessitatibus voluptate eveniet voluptatum iure rerum provident cum
            eligendi eaque eum fugit in perspiciatis sit molestiae, quas, dolores nobis exercitationem animi obcaecati.
            Architecto et suscipit quasi, nobis aspernatur voluptates nisi quis! Velit, ab corporis odit quam quas
            blanditiis reiciendis laborum soluta consequatur, debitis, sapiente quis? Harum exercitationem quidem
            temporibus error est, dicta cupiditate sunt ut porro. Quod, vitae, reiciendis modi praesentium odit eum
            tenetur dolorem possimus impedit quas quae obcaecati aliquid voluptas excepturi, eligendi cum incidunt amet
            velit officiis nam. Doloribus tempore incidunt magnam corporis soluta totam amet in. Aliquid quis,
            voluptatum commodi ea cumque in nostrum facere quaerat veritatis quas, architecto alias exercitationem
            repudiandae. Vero ducimus sit fugit dolores provident maxime, pariatur exercitationem. Mollitia, animi qui
            commodi, eaque odio reiciendis quod soluta unde facere illo debitis ipsum et quibusdam, autem quaerat quas
            eius saepe quisquam enim blanditiis quasi suscipit est! Dignissimos, aliquid? Fuga accusamus facere, amet
            cum, omnis beatae esse cupiditate quod autem tempora qui, laboriosam necessitatibus officiis eum nemo
            ratione itaque eveniet voluptatem earum? Voluptatem optio neque necessitatibus corporis, sunt quisquam earum
            nulla corrupti doloribus. Non delectus doloribus exercitationem mollitia cumque necessitatibus nihil
            excepturi rerum repellat aperiam iure, nostrum quis eius accusamus perferendis? Accusamus vero velit dolore
            sit? Incidunt optio esse eius ad numquam blanditiis illo ea at voluptate delectus tenetur facilis, harum
            veniam deleniti animi? Iure, eos repudiandae. Nemo corporis hic impedit rem eius necessitatibus perspiciatis
            eaque. Dolor corporis consequatur optio facilis hic sit natus provident, itaque, consectetur aliquam nulla
            maiores molestias illo maxime accusantium atque similique earum deleniti, quae labore? Placeat optio quae
            corrupti impedit ipsa perspiciatis sint cum suscipit dolorem laudantium, totam eius, quis eveniet
            praesentium consequuntur ipsam necessitatibus aperiam quaerat ex ab libero sequi? Voluptatum reiciendis
            molestiae nam, necessitatibus ad, omnis reprehenderit fuga iste ullam ex possimus consequuntur minus
            eligendi. At non quo, iste, assumenda totam asperiores perspiciatis aliquid est minus quasi, rem sint?
            Laboriosam in soluta voluptate ab harum vitae non. Molestiae ex totam facilis animi quae quos esse
            voluptatem sunt doloremque rerum. Voluptatum nesciunt laborum nostrum libero, enim saepe labore adipisci
            perspiciatis sed pariatur quis optio. Eos et iste eligendi quod architecto ex laborum neque placeat, odit
            autem optio possimus iusto, voluptatibus exercitationem sequi veniam est mollitia debitis unde! Aperiam
            explicabo voluptatum similique maxime non sunt quisquam rerum, velit voluptatibus esse quia minus amet earum
            hic assumenda vero quam itaque nulla ea fugit dolor mollitia accusantium illum iste! Explicabo similique
            temporibus aliquid voluptatum dolores deleniti eveniet, magni, corporis hic, pariatur consequuntur nulla
            molestias inventore? Qui illo adipisci tenetur quibusdam quo vel, temporibus ex ipsa eos quod commodi
            facilis quisquam accusantium soluta impedit animi quaerat dicta nulla deserunt, quas inventore? Cum
            obcaecati quas porro earum. Fugit doloremque necessitatibus illum quasi, reiciendis cumque, illo vero
            architecto tempora, aliquid nihil. Quas, officia velit quos, magnam harum in ab maiores placeat atque,
            aspernatur sit minus distinctio sint. Consequuntur nisi mollitia voluptates voluptatum? Ex illo voluptatem
            beatae! Excepturi amet iste praesentium perferendis, numquam aperiam reiciendis tempore. Quam dolor, ducimus
            sint molestias, aliquam fuga ad voluptate magnam accusamus optio possimus explicabo in adipisci modi ab.
            Praesentium cum error ipsam aliquid soluta rem cupiditate, magni, numquam ipsum distinctio veritatis
            corporis facilis quis, provident mollitia! Minus beatae excepturi non quas, nisi aspernatur iure vero
            deserunt fuga dolorum natus cum et praesentium? Reiciendis cum repellat nulla itaque culpa architecto sed
            voluptate? Sed debitis magnam ratione placeat ducimus. Recusandae vel asperiores laboriosam possimus quidem
            illo cumque quia iste consectetur quaerat eligendi aliquam saepe, cum odit sequi nam accusantium aperiam
            architecto beatae. Impedit quod ipsa quibusdam consequatur corrupti ipsam, aliquid consequuntur officiis
            recusandae illum, nemo facilis excepturi reprehenderit in, eos iste suscipit ut ad est. Facilis delectus
            deleniti hic iure eum maiores assumenda nesciunt, explicabo quia enim officiis rerum, aliquam saepe
            consectetur id. Facilis velit quia illum, culpa voluptatem deserunt eaque soluta, et cum explicabo illo,
            quibusdam deleniti pariatur atque eveniet alias. Nostrum deleniti adipisci autem pariatur repellendus
            molestias error cumque corporis architecto necessitatibus repudiandae quos, minima voluptatum in debitis
            fugit doloremque? Quam dolor labore soluta perferendis ipsam aliquam officiis rerum beatae dignissimos porro
            ex iure doloribus est, pariatur non consequatur repudiandae, eos, illo nobis qui quidem voluptates dolore!
            Pariatur, at libero delectus sint iusto debitis unde, rerum ducimus sit saepe minima eos aliquam amet
            quisquam culpa quae. Cum nisi dolorem laboriosam, recusandae possimus velit! Neque sunt et ratione dolores
            odio veniam, officiis nemo iusto praesentium, quibusdam repudiandae. Nesciunt esse dolorum illum optio,
            repellat, maxime quos, quam ipsam possimus veritatis nulla consequuntur beatae laborum? Dolores, magni
            sequi? Hic dignissimos dolorem aut quos ad iure cum impedit, numquam laudantium similique soluta? Laborum
            nobis ab enim accusamus doloribus totam? Quaerat rem beatae maxime ullam, temporibus aspernatur facere
            quidem praesentium iste saepe architecto sunt at magni iure incidunt! Eos, cum quos iste vero quis id error.
            Laborum exercitationem debitis vel explicabo ea, incidunt reiciendis nulla nihil veritatis ipsa! Laboriosam
            amet enim sunt perspiciatis voluptate voluptatem est officia vitae at eligendi porro neque beatae dolor,
            velit earum corrupti sequi quisquam dignissimos esse incidunt obcaecati nihil. Doloribus iste, facere
            obcaecati, sequi necessitatibus repellat sed praesentium reiciendis veniam voluptas id. Debitis, eligendi
            at? Ducimus cupiditate dolor corporis laboriosam ex, perspiciatis, sequi quibusdam eligendi expedita ad
            autem voluptate fugit totam nihil ab. Unde, animi non numquam ea maiores enim sapiente consequuntur nisi
            fugiat! Id ut placeat culpa. Sit placeat fuga voluptas quaerat cum ipsam soluta necessitatibus suscipit
            quod. Aut excepturi ratione animi quaerat deserunt voluptatibus obcaecati hic laborum quae consequuntur
            perspiciatis nisi natus suscipit nobis necessitatibus sint molestias, quia fugit! Dolor provident itaque
            porro? Earum beatae repudiandae quisquam cum omnis nisi nemo repellat magni illo in aperiam modi ad,
            blanditiis voluptatibus ipsa? Fuga delectus quos recusandae nobis porro aspernatur blanditiis, rem saepe
            eaque.</p>
    </div>



</body>

</html>