<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Всі товари</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0 , user-scalable = 0">

    <link rel="stylesheet" href="src\main/resources/static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class=" wrr">
        <div class="background-image"></div>
        <div class="wrapper__container">
            <div class="btn-group " role="group" aria-label="Actions">
                <form th:action="@{/articles/new-article}" method="get" class="d-inline-block">
                    <button type="submit" class="btn btn-primary">Додати новий товар</button>
                </form>

                <form th:action="@{/categories/new-category}" method="get" class="d-inline-block ">
                    <button type="submit" class="btn btn-primary">Додати нову категорію</button>
                </form>

                <form th:action="@{/articles/filter-by-status}" method="get" class="d-inline-block">
                    <label for="status">Статус</label>
                    <select id="status" name="status" class=" d-inline-block" required>
                        <option value="" disabled th:selected="${selectedStatus == null}">Оберіть статус</option>
                        <option th:each="status : ${statuses}" th:value="${status}" th:text="${status.getAlias()}"
                            th:selected="${status == selectedStatus}">
                        </option>
                    </select>
                    <button type="submit" class="btn filter">Фільтрувати</button>
                </form>

                <form th:action="@{/articles/search-by-name}" method="get" class="d-inline-block">
                    <input class="input-field" type="text" id="searchName" name="searchName" required
                        placeholder="Введіть назву">
                    <button type="submit" class="btn filter">Пошук</button>
                </form>

                <form th:action="@{/articles/all-articles}" method="get" class="d-inline-block">
                    <button type="submit" class="btn tovar">Всі товари</button>
                </form>
            </div>

<!-- ............................................................................. -->

	<div class="out">
		<form  method="POST" th:action="@{/logout}">
			<input class="out--button" type="submit" value="Вихід" role="button" />
		</form>
	
		<div>
			<a href="/articles/statistics" class="btn btn-secondary" role="button"
				sec:authorize="hasRole('ROLE_ADMIN')">Статистика</a>
		</div>
	</div>
<!-- ................................................................................... -->
            <div class="tableted">
                <table class="table ">
                    <thead class="sticky-header">
                        <tr>
                            <th style="width: 8%;">ID</th>
                            <th style="width: 8%;">Категорія</th>
                            <th style="width: 8%;">Назва</th>
                            <th style="width: 8%;">Ціна закупівлі</th>
                            <th style="width: 8%;">Ціна продажу</th>
                            <th style="width: 8%;">Витрати</th>
                            <th style="width: 8%;">Прибуток</th>
                            <th style="width: 8%;">Кількість</th>
                            <th style="width: 8%;">Продано</th>
                            <th style="width: 8%;">Залишок</th>
                            <th style="width: 8%;">Статус</th>
                            <th style="width: 8%;">Дата створення</th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                        <tr th:each="article : ${articles}">
                            <td th:text="${article.id}">ggcn</td>
                            <td th:text="${article.category.name}">xfbnfx</td>
                            <td>
                                <a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.name}">xfn</a>
                            </td>
                            <td th:text="${article.purchase}">zdrdz</td>
                            <td th:text="${article.sellingPrize}">zdrg</td>
                            <td th:text="${article.spentMoney}">zrg</td>
                            <td th:text="${article.profit}">hxzh</td>
                            <td th:text="${article.quantity}">zdrd</td>
                            <td th:text="${article.soldQuantity}">zrg</td>
                            <td th:text="${article.remainder}">sfg</td>
                            <td th:text="${article.status.getAlias()}">rhz</td>
                            <td th:text="${article.createdDate}">zrg</td>
                        </tr>
                        <tr th:each="article : ${articles}">
                            <td th:text="${article.id}">ggcn</td>
                            <td th:text="${article.category.name}">xfbnfx</td>
                            <td>
                                <a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.name}">xfn</a>
                            </td>
                            <td th:text="${article.purchase}">zdrdz</td>
                            <td th:text="${article.sellingPrize}">zdrg</td>
                            <td th:text="${article.spentMoney}">zrg</td>
                            <td th:text="${article.profit}">hxzh</td>
                            <td th:text="${article.quantity}">zdrd</td>
                            <td th:text="${article.soldQuantity}">zrg</td>
                            <td th:text="${article.remainder}">sfg</td>
                            <td th:text="${article.status.getAlias()}">rhz</td>
                            <td th:text="${article.createdDate}">zrg</td>
                        </tr>
                        <tr th:each="article : ${articles}">
                            <td th:text="${article.id}">ggcn</td>
                            <td th:text="${article.category.name}">xfbnfx</td>
                            <td>
                                <a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.name}">xfn</a>
                            </td>
                            <td th:text="${article.purchase}">zdrdz</td>
                            <td th:text="${article.sellingPrize}">zdrg</td>
                            <td th:text="${article.spentMoney}">zrg</td>
                            <td th:text="${article.profit}">hxzh</td>
                            <td th:text="${article.quantity}">zdrd</td>
                            <td th:text="${article.soldQuantity}">zrg</td>
                            <td th:text="${article.remainder}">sfg</td>
                            <td th:text="${article.status.getAlias()}">rhz</td>
                            <td th:text="${article.createdDate}">zrg</td>
                        </tr>
                        <tr th:each="article : ${articles}">
                            <td th:text="${article.id}">ggcn</td>
                            <td th:text="${article.category.name}">xfbnfx</td>
                            <td>
                                <a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.name}">xfn</a>
                            </td>
                            <td th:text="${article.purchase}">zdrdz</td>
                            <td th:text="${article.sellingPrize}">zdrg</td>
                            <td th:text="${article.spentMoney}">zrg</td>
                            <td th:text="${article.profit}">hxzh</td>
                            <td th:text="${article.quantity}">zdrd</td>
                            <td th:text="${article.soldQuantity}">zrg</td>
                            <td th:text="${article.remainder}">sfg</td>
                            <td th:text="${article.status.getAlias()}">rhz</td>
                            <td th:text="${article.createdDate}">zrg</td>
                        </tr>
                        <tr th:each="article : ${articles}">
                            <td th:text="${article.id}">ggcn</td>
                            <td th:text="${article.category.name}">xfbnfx</td>
                            <td>
                                <a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.name}">xfn</a>
                            </td>
                            <td th:text="${article.purchase}">zdrdz</td>
                            <td th:text="${article.sellingPrize}">zdrg</td>
                            <td th:text="${article.spentMoney}">zrg</td>
                            <td th:text="${article.profit}">hxzh</td>
                            <td th:text="${article.quantity}">zdrd</td>
                            <td th:text="${article.soldQuantity}">zrg</td>
                            <td th:text="${article.remainder}">sfg</td>
                            <td th:text="${article.status.getAlias()}">rhz</td>
                            <td th:text="${article.createdDate}">zrg</td>
                        </tr>
                        <tr th:each="article : ${articles}">
                            <td th:text="${article.id}">ggcn</td>
                            <td th:text="${article.category.name}">xfbnfx</td>
                            <td>
                                <a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.name}">xfn</a>
                            </td>
                            <td th:text="${article.purchase}">zdrdz</td>
                            <td th:text="${article.sellingPrize}">zdrg</td>
                            <td th:text="${article.spentMoney}">zrg</td>
                            <td th:text="${article.profit}">hxzh</td>
                            <td th:text="${article.quantity}">zdrd</td>
                            <td th:text="${article.soldQuantity}">zrg</td>
                            <td th:text="${article.remainder}">sfg</td>
                            <td th:text="${article.status.getAlias()}">rhz</td>
                            <td th:text="${article.createdDate}">zrg</td>
                        </tr>
                        <tr th:each="article : ${articles}">
                            <td th:text="${article.id}">ggcn</td>
                            <td th:text="${article.category.name}">xfbnfx</td>
                            <td>
                                <a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.name}">xfn</a>
                            </td>
                            <td th:text="${article.purchase}">zdrdz</td>
                            <td th:text="${article.sellingPrize}">zdrg</td>
                            <td th:text="${article.spentMoney}">zrg</td>
                            <td th:text="${article.profit}">hxzh</td>
                            <td th:text="${article.quantity}">zdrd</td>
                            <td th:text="${article.soldQuantity}">zrg</td>
                            <td th:text="${article.remainder}">sfg</td>
                            <td th:text="${article.status.getAlias()}">rhz</td>
                            <td th:text="${article.createdDate}">zrg</td>
                        </tr>
                        <tr th:each="article : ${articles}">
                            <td th:text="${article.id}">ggcn</td>
                            <td th:text="${article.category.name}">xfbnfx</td>
                            <td>
                                <a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.name}">xfn</a>
                            </td>
                            <td th:text="${article.purchase}">zdrdz</td>
                            <td th:text="${article.sellingPrize}">zdrg</td>
                            <td th:text="${article.spentMoney}">zrg</td>
                            <td th:text="${article.profit}">hxzh</td>
                            <td th:text="${article.quantity}">zdrd</td>
                            <td th:text="${article.soldQuantity}">zrg</td>
                            <td th:text="${article.remainder}">sfg</td>
                            <td th:text="${article.status.getAlias()}">rhz</td>
                            <td th:text="${article.createdDate}">zrg</td>
                        </tr>
                        <tr th:each="article : ${articles}">
                            <td th:text="${article.id}">ggcn</td>
                            <td th:text="${article.category.name}">xfbnfx</td>
                            <td>
                                <a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.name}">xfn</a>
                            </td>
                            <td th:text="${article.purchase}">zdrdz</td>
                            <td th:text="${article.sellingPrize}">zdrg</td>
                            <td th:text="${article.spentMoney}">zrg</td>
                            <td th:text="${article.profit}">hxzh</td>
                            <td th:text="${article.quantity}">zdrd</td>
                            <td th:text="${article.soldQuantity}">zrg</td>
                            <td th:text="${article.remainder}">sfg</td>
                            <td th:text="${article.status.getAlias()}">rhz</td>
                            <td th:text="${article.createdDate}">zrg</td>
                        </tr>
                        <tr th:each="article : ${articles}">
                            <td th:text="${article.id}">ggcn</td>
                            <td th:text="${article.category.name}">xfbnfx</td>
                            <td>
                                <a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.name}">xfn</a>
                            </td>
                            <td th:text="${article.purchase}">zdrdz</td>
                            <td th:text="${article.sellingPrize}">zdrg</td>
                            <td th:text="${article.spentMoney}">zrg</td>
                            <td th:text="${article.profit}">hxzh</td>
                            <td th:text="${article.quantity}">zdrd</td>
                            <td th:text="${article.soldQuantity}">zrg</td>
                            <td th:text="${article.remainder}">sfg</td>
                            <td th:text="${article.status.getAlias()}">rhz</td>
                            <td th:text="${article.createdDate}">zrg</td>
                        </tr>
                        <tr th:each="article : ${articles}">
                            <td th:text="${article.id}">ggcn</td>
                            <td th:text="${article.category.name}">xfbnfx</td>
                            <td>
                                <a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.name}">xfn</a>
                            </td>
                            <td th:text="${article.purchase}">zdrdz</td>
                            <td th:text="${article.sellingPrize}">zdrg</td>
                            <td th:text="${article.spentMoney}">zrg</td>
                            <td th:text="${article.profit}">hxzh</td>
                            <td th:text="${article.quantity}">zdrd</td>
                            <td th:text="${article.soldQuantity}">zrg</td>
                            <td th:text="${article.remainder}">sfg</td>
                            <td th:text="${article.status.getAlias()}">rhz</td>
                            <td th:text="${article.createdDate}">zrg</td>
                        </tr>
                        <tr th:each="article : ${articles}">
                            <td th:text="${article.id}">ggcn</td>
                            <td th:text="${article.category.name}">xfbnfx</td>
                            <td>
                                <a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.name}">xfn</a>
                            </td>
                            <td th:text="${article.purchase}">zdrdz</td>
                            <td th:text="${article.sellingPrize}">zdrg</td>
                            <td th:text="${article.spentMoney}">zrg</td>
                            <td th:text="${article.profit}">hxzh</td>
                            <td th:text="${article.quantity}">zdrd</td>
                            <td th:text="${article.soldQuantity}">zrg</td>
                            <td th:text="${article.remainder}">sfg</td>
                            <td th:text="${article.status.getAlias()}">rhz</td>
                            <td th:text="${article.createdDate}">zrg</td>
                        </tr>
                        <tr th:each="article : ${articles}">
                            <td th:text="${article.id}">ggcn</td>
                            <td th:text="${article.category.name}">xfbnfx</td>
                            <td>
                                <a th:href="@{/articles/{id}(id=${article.id})}" th:text="${article.name}">xfn</a>
                            </td>
                            <td th:text="${article.purchase}">zdrdz</td>
                            <td th:text="${article.sellingPrize}">zdrg</td>
                            <td th:text="${article.spentMoney}">zrg</td>
                            <td th:text="${article.profit}">hxzh</td>
                            <td th:text="${article.quantity}">zdrd</td>
                            <td th:text="${article.soldQuantity}">zrg</td>
                            <td th:text="${article.remainder}">sfg</td>
                            <td th:text="${article.status.getAlias()}">rhz</td>
                            <td th:text="${article.createdDate}">zrg</td>
                        </tr>
                    </tbody>
                </table>
            </div>



        </div>


    </div>
    <!-- <script src="./js/script.js" defer> </script> -->
    <script src="./src\main/resources/static/js/script.js" defer> </script>
</body>

</html>