<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0 , user-scalable = 0">

	<link rel="stylesheet" href="src\main/resources/static/css/style.css">

	<title>StorageBox</title>
</head>

<body>

	<div class="register">
		<div class="background-image"></div>
		<div class="register__container">

			<h2>Register</h2>

			<div>
				<form th:action="@{/register}" method="post" id="registerForm" th:object="${registrationForm}">
					<fieldset>
						<legend>New account</legend>

						<div th:if="${error}" style="color: red;">
							<p th:text="${error}"></p>
						</div>
						<div class="rowe">
							<label for="firstName">First name: </label>
							<input type="text" name="firstName" id="firstName" th:field="*{firstName}"
								placeholder=" enter your first name" required="required" />
							<div class="error-message" th:if="${#fields.hasErrors('firstName')}"
								th:errors="*{firstName}">
							</div>



							<label for="lastName">Last name: </label>
							<input type="text" name="lastName" id="lastName" th:field="*{lastName}"
								placeholder=" enter your last name" required="required" />
							<div class="error-message" th:if="${#fields.hasErrors()}" th:errors="*{lastName}"></div>

						</div>

						<div class="rowe">
							<label for="email">Email: </label>
							<input type="text" name="email" id="email" th:field="*{email}" placeholder=" your email"
								required="required" />
							<div class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>


							<label for="password">Password: </label>
							<input type="password" name="password" id="password" th:field="*{password}"
								placeholder=" your password" required="required" />

						</div>


						<input class="reg" type="submit" value="Register">

						<input  class="res" type="reset" value="Reset" />

					</fieldset>
					<a href="/login" class="registration-cancel">Cancel</a>
				</form>
			</div>
		</div>

	</div>


</body>

</html>