// обновлять страницу после смены стиля рут ....

@import "src/resources/static/css/null.css";
@import "src/resources/static/css/var.css";
@import "src/resources/static/css/basestyle.css";

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@function toRem($value) {
	// Базовый размер шрифта (обычно 16px)
	$baseFontSize: 16;
	// Вычисление значения в rem
	@return ($value / $baseFontSize) * 1rem;
}
// !Миксины ================================================================================
// adaptiveValue = ($property-css стиль, $pcSize-максимальный параметр, $mobSize-минимальный параметр)

$maxWidth: 1620; // Ширина полотна (макета)

@mixin adaptiveValue($property, $pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;

	@media (min-width: toRem(1620)) {
		#{$property}: #{$pcSize + px};
	}

	@media (max-width: toRem(1620)) {
		@media (max-width: 1620px) {
			#{$property}: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 767px) / #{$maxWidth}));
		}
	}
}
//   @include adaptiveValue ($property , $pcSize, $mobSize);

// ..................................................................................
// общие стили
[class*="__container"] {
	max-width: toRem(1620);
	padding: toRem(50) toRem(15);
	margin: 0 auto;
}

// ......................................................................................

.wrr {
	background-image: url(../css/icon/3.3.3.jpg);
	background-repeat: no-repeat;
	background-size: 150%;
	background-position: center;

	// position: relative;
	// padding-top: 60px; /* Отступ сверху, чтобы шапка не перекрывала элементы */
}
.background-image {
	position: fixed; /* Фиксированное позиционирование */
	top: 0; /* Прикрепить к верхней части */
	left: 0; /* Прикрепить к левой части */
	width: 100%; /* Задает ширину 100% */
	height: 100vh; /* Задает высоту 100% */
	background-color: rgba(0, 0, 255, 0.205);
}

.wrapper__container {
	position: relative;
}
.btn-group {
	display: flex;
	justify-content: space-around;
}

.d-inline-block select {
	cursor: pointer;
	margin-right: toRem(50);
}

.d-inline-block label {
	box-shadow: 1px 1px 5px rgb(251, 250, 250);
	background-color: rgb(251, 163, 163);
	color: rgb(6, 6, 6);
	font-size: toRem(18);
	border-radius: toRem(10);
	font-family: "Philosopher", sans-serif;
	font-weight: 700;
	font-style: italic;
	padding: toRem(10);
}
.btn {
	padding: toRem(10) toRem(15);
	font-size: toRem(20);
	border-radius: toRem(10);
	font-family: "Philosopher", sans-serif;
	font-weight: 700;
	font-style: italic;
	box-shadow: 1px 1px 5px rgb(251, 250, 250);

	&:hover {
		background-color: rgb(128, 128, 241);
		border: 2px solid black;
	}
}
.btn-primary {
	background-color: rgba(38, 186, 15, 0.687);
	border: 2px solid rgb(38, 186, 15);
	color: white;
	&:hover {
		background-color: rgba(143, 241, 128, 0.682);
		border: 2px solid black;
		color: rgb(10, 10, 10);
	}
}

.filter {
	background-color: rgba(251, 163, 163, 0.881);
	border: 2px solid rgb(251, 163, 163);
	color: rgb(16, 16, 16);
	cursor: pointer;
	&:hover {
		background-color: rgba(243, 93, 93, 0.662);
		border: 2px solid black;
		color: rgb(249, 248, 248);
	}
}
.tovar {
	background-color: rgb(117, 10, 225);
	border: 2px solid rgb(117, 10, 225);
	color: rgb(247, 245, 245);
	cursor: pointer;
	&:hover {
		background-color: rgba(0, 0, 255, 0.199);
		border: 2px solid black;
	}
}
// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

.tableted {
	position: relative; /* для липкости шапки */
	margin-top: toRem(70);
	z-index: 50;
	background-color: rgba(0, 0, 255, 0.409);
	max-height: 65vh; /* Ограничиваем максимальную высоту таблицы (вы можете изменить на ваше усмотрение) */
	overflow: auto; /* Позволяет прокручивать таблицу по вертикали */
	overflow-x: hidden; /* Убирает горизонтальную прокрутку */
	box-shadow:
		9px 9px 16px rgb(234, 235, 237),
		-9px -9px 16px rgb(255, 255, 255);
}

.sticky-header th {
	padding: toRem(20);
}

.sticky-header {
	position: sticky; /* Делаем шапку фиксированной */
	top: 0; /* Прилипание к верхней части контейнера */
	background-color: rgba(0, 0, 255, 0.874);
	color: white;
	z-index: 1; /* Устанавливаем высокий индекс, чтобы шапка была поверх остального контента */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень для выделения 
	
.table {
				// /* Включаем раздельное отображение границ */
	border-spacing: 0 10px; /* Горизонтальные отступы между строками */
	margin: 0 auto;
	font-size: toRem(18);
}

.tbody a {
	color: white;
}
tbody tr {
	background-color: rgba(0, 0, 255, 0.345); /* Легкий фон для строк */
	font-size: toRem(20);
	color: white;
}

// .................................................................................
th,
td {
	width: 8%; /* Пример ширины, вы можете изменить на свое усмотрение */
	text-align: center; /* Центрируем текст */
	vertical-align: middle; /* Выравниваем по вертикали */
	overflow-wrap: break-word; /* Разрешаем перенос слов */
	word-wrap: break-word; /* Разрешаем перенос слов (для совместимости) */
	white-space: normal; /* Позволяем перенос строк */
	border-bottom: 1px solid #ddd; /* Добавляем нижнюю границу для ячеек */
	font-size: toRem(20);
	font-family: "Philosopher", sans-serif;
	font-weight: 700;
	font-style: normal;
	color: rgb(242, 238, 238);
}

.sticky-header th {
	padding: toRem(10);
}

.tableted {
	margin-top: toRem(70);
	z-index: 50;
	background-color: rgba(0, 0, 255, 0.409);

	max-height: 65vh; /* Ограничиваем максимальную высоту таблицы (вы можете изменить на ваше усмотрение) */
	overflow: auto; /* Позволяет прокручивать таблицу по вертикали */
	overflow-x: hidden; /* Убирает горизонтальную прокрутку */
	position: relative;
	box-shadow:
		9px 9px 16px rgb(234, 235, 237),
		-9px -9px 16px rgb(255, 255, 255);
}

.sticky-header {
	position: sticky; /* Делаем шапку фиксированной */
	top: 0; /* Прилипание к верхней части контейнера */
	background-color: rgba(0, 0, 255, 0.874);
	color: white;
	z-index: 1; /* Устанавливаем высокий индекс, чтобы шапка была поверх остального контента */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень для выделения 
}



	padding: 10px; /* Отступы внутри ячеек */
}
.table tbody tr td {
	padding: 15px;
	position: relative;
	cursor: pointer;
}

tbody tr:hover {
	box-shadow:
		1px 15px 5px rgba(58, 58, 240, 0.582),
		-1px -15px 5px rgba(51, 51, 252, 0.519);
	background-color: blue;
}
// (((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((

.highlight {
	background-color: rgba(7, 7, 247, 0.582);
	box-shadow:
		15px 1px 5px rgba(60, 60, 247, 0.582),
		-15px -1px 5px rgba(59, 59, 247, 0.519);
}

// )))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))))
// ...............................   enter  ....................................................

.out {
	// position: absolute;
	margin-top: toRem(50);
	display: flex;
	align-items: center;
	column-gap: toRem(10);
}

.out--button {
	padding: toRem(10);
	font-size: toRem(18);
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
}

.btn {
}
.btn-secondary {
}

// ........................................................................................
// ======================================================

.error-message {
	color: #ff0000;
	text-shadow:
		2px 2px 2px rgb(11, 11, 11),
		-2px -2px 2px rgb(11, 11, 11);
	// background-color: rgba(255, 255, 255, 0.311);
}
.wr {
	background-image: url(../css/icon/0.0.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: toRem(200);
}
.wrapper {
	height: 75vh;
	&__container {
		border-radius: 10px;
	}
}
.new {
	display: flex;
	flex-direction: column;
	align-items: center;
	& h2 {
		font-family: "Philosopher", sans-serif;
		font-size: toRem(44);
		font-weight: 700;
		font-style: normal;
		color: white;
		text-shadow: 2px 2px 3px black;
	}
}
.form-block {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	font-family: "Philosopher", sans-serif;
	font-size: toRem(24);
	font-weight: 700;
	font-style: normal;
	color: white;
	text-shadow: 2px 2px 3px black;
}

input::placeholder {
	color: rgba(255, 255, 255, 0.5);
	font-style: italic;
	font-size: 14px;
	color: black;
}

.form-control {
	background-color: #f0f0f0; /* Цвет фона */
	border: 1px solid #131313; /* Цвет рамки */
	padding: 10px; /* Отступы */
	border-radius: 5px; /* Скругление углов */
	font-size: 16px; /* Размер шрифта */
	box-shadow: 1px 1px 5px rgb(251, 250, 250);
}

.form-control option {
	color: #0c0b0b; /* Цвет текста для опций */
	box-shadow: 1px 1px 5px rgb(251, 250, 250);
	background-color: rgb(251, 163, 163);
	font-size: toRem(18);
	border-radius: toRem(10);
	font-family: "Philosopher", sans-serif;
	font-weight: 700;
	font-style: italic;
	padding: toRem(10);
}

.input-field {
	width: 200px; /* Ширина поля ввода */
	height: 20px; /* Высота поля ввода */
	padding: 10px; /* Отступы внутри поля */
	font-size: 16px; /* Размер шрифта */
	border: 1px solid #ccc; /* Цвет рамки */
	border-radius: 5px; /* Скругление углов */
	background-color: #f0f0f0; /* Цвет фона */
	font-weight: 700;
}

.d-flex {
	position: absolute;
	top: toRem(150);
	margin-left: 50%;
	top: toRem(250);
	margin-left: 40%;
	display: flex;
	column-gap: toRem(20);
	margin-top: toRem(100);
}

.adaptiv-class {
	min-height: toRem(130);
	position: relative;
	@media (max-width: toRem(1401)) {
		display: flex;
		flex-direction: column;
		row-gap: toRem(10);
		align-items: center;
	}
}

.adaptiv-class .error-message {
	position: absolute;
	top: 70px;
	padding: toRem(10);
	text-align: center;
	z-index: 10;
}

.btn-back {
	background-color: rgba(0, 0, 255, 0.199);
	&:hover {
		background-color: #eae7e7;
		border: none;
	}
}
.d-flex a {
	color: white;
	&:hover {
		color: rgb(13, 13, 13);
	}
}
// ============================   product  =======================================================

.wrrr {
	background-image: url(../css/icon/9.9.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}
.pr {
	background-color: rgba(0, 0, 255, 0.324);
}
.product {
	text-align: center;
	& h2 {
		font-size: toRem(50);
		color: rgb(248, 246, 246);
		text-shadow:
			2px -2px 5px rgb(6, 6, 6),
			-2px 2px 5px rgb(9, 9, 9);
	}
}
.form__block {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: toRem(50);
}
.form__block--block {
	display: flex;
	flex-direction: column;
	row-gap: toRem(20);
	& input {
		width: toRem(300);
		height: toRem(40);
		font-size: toRem(20);
		font-weight: 700;
	}
}
.form__block label {
	padding: toRem(10); /* Отступы внутри поля */
	font-size: toRem(26); /* Размер шрифта */
	border: 1px solid #ccc; /* Цвет рамки */
	border-radius: 5px; /* Скругление углов */
	background-color: #f0f0f0; /* Цвет фона */
	font-weight: 700;
}
.product__status {
	font-size: toRem(20);
	border: 1px solid #ccc; /* Цвет рамки */
	border-radius: 10px; /* Скругление углов */
	background-color: #ef2c2c; /* Цвет фона */
	padding: toRem(10); /* Отступы внутри поля */
	color: white;
}

.button__block--status label {
	color: #0c0b0b; /* Цвет текста для опций */
	box-shadow: 1px 1px 5px rgb(251, 250, 250);
	background-color: rgb(251, 163, 163);
	font-size: toRem(18);
	border-radius: toRem(10);
	font-family: "Philosopher", sans-serif;
	font-weight: 700;
	font-style: italic;
	padding: toRem(10);
}

.button__block--button form {
	display: flex;
	text-align: center;
	flex-direction: row;
	justify-content: space-around;
}

.d-flex2 {
	display: flex;
	column-gap: toRem(20);
	margin-top: toRem(100);
	& a {
		color: white;
		text-shadow: 1px 1px 2px black;
		&:hover {
			color: rgb(8, 8, 8);
		}
	}
}

.d-flex4 {
	position: absolute;
	bottom: toRem(50);
	left: toRem(550);
}

.button-danger {
	margin-top: toRem(100);
	background-color: rgba(251, 163, 163, 0.881);
	border: 2px solid rgb(251, 163, 163);
	color: rgb(16, 16, 16);
	height: toRem(50);
	cursor: pointer;
	&:hover {
		background-color: rgba(243, 93, 93, 0.662);
		border: 2px solid black;
		color: rgb(249, 248, 248);
	}
}
.btn-primary,
.btn-danger,
.button-danger {
	cursor: pointer;
}
// ==================================================================

.new--wr {
	background-image: url(../css/icon/7.7.jpg); /* Укажите путь к вашему изображению */
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-position: center;
	z-index: 0; /* Помещаем позади содержимого */
}
.wrapper.new--wr .new__container {
	position: relative;
	z-index: 10; /* Помещаем содержимое поверх фона */
	background-color: rgba(89, 16, 235, 0.406);
	width: toRem(700);
	margin-top: toRem(200);
}

// .wrapper.new--wr::after {
// 	content: "";
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	background-color: rgba(0, 0, 255, 0.187); /* Затемнение фона, настройте уровень затемнения */
// 	z-index: 1; /* Помещаем поверх фона */
// }

.new {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;

		& h2 {
			font-family: "Philosopher", sans-serif;
			font-size: toRem(50);
			font-weight: 700;
			font-style: normal;
			color: rgb(249, 249, 252);
			text-shadow:
				2px -2px 1px rgb(18, 17, 17),
				3px -3px 1px rgb(252, 251, 251),
				4px -4px 1px rgb(7, 7, 7);
		}

		& label {
			font-family: "Philosopher", sans-serif;
			font-size: toRem(24);
			font-weight: 700;
			font-style: normal;
			color: white;
			text-shadow: 1px -1px 5px rgb(87, 6, 174);
		}
	}
}
.d-flex3 {
	margin-top: toRem(50);
	display: flex;
	column-gap: toRem(30);
	& a {
		color: white;
		text-shadow: 1px 1px 2px black;
		box-shadow: 2px 2px 2px rgba(0, 0, 255, 0.333);
	}
}
.d-flex3 button {
	box-shadow: 2px 2px 2px rgba(55, 255, 0, 0.936);
}
// ====================================   log   ====================================================================

.wrapper {
}

.new--log {
	/*position: relative;*/
	top: 0;
	left: 0;
	width: 100%; /* Увеличиваем ширину, чтобы изображение поместилось */
	height: 100vh; /* Увеличиваем высоту, чтобы изображение поместилось */
	background-image: url(../css/icon/5.5.jpg); /* Укажите путь к вашему изображению */
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 0; /* Помещаем позади содержимого */
}

.log__container {
	/*position: relative;*/
	width: toRem(400);
	margin-top: toRem(20);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	z-index: 10; /* Помещаем содержимое поверх фона */
	background-color: rgba(255, 255, 255, 0.578);
	& h2 {
		font-family: "Philosopher", sans-serif;
		font-size: toRem(50);
		font-weight: 700;
		font-style: normal;
		color: rgb(100, 10, 227);
		text-shadow:
			2px -2px 1px rgb(18, 17, 17),
			3px -3px 1px rgb(252, 251, 251),
			4px -4px 1px rgb(7, 7, 7);
	}
	& p {
		font-family: "Philosopher", sans-serif;
		font-size: toRem(30);
		font-weight: 700;
		font-style: normal;
		color: rgb(19, 18, 18);
		& a {
			color: rgb(127, 26, 243);
			cursor: pointer;
			text-decoration: dashed;
		}
	}
	& label {
		font-family: "Philosopher", sans-serif;
		font-size: toRem(20);
		font-weight: 700;
		font-style: normal;
		color: rgb(19, 18, 18);

		margin-bottom: toRem(10);
	}
}

//

.alert {
	font-family: "Philosopher", sans-serif;
	font-size: toRem(20);
	font-weight: 700;
	font-style: normal;
	color: rgb(19, 18, 18);
	font-style: italic;
}

fieldset {
	margin-top: toRem(70);
	width: toRem(300);
	display: flex;
	flex-direction: column;
	padding: toRem(20);
	margin-bottom: toRem(30);
	border-radius: 15px;
	background-color: rgba(90, 16, 194, 0.365);
}
legend {
	font-family: "Philosopher", sans-serif;
	font-size: toRem(20);
	font-weight: 700;
	font-style: normal;
	color: rgb(249, 244, 244);
	// font-style: italic;
}
.np {
	display: flex;
	flex-direction: column;
}

.np input[type="text"],
.np input[type="password"] {
	height: 30px; /* или любой другой размер */
	font-size: 16px; /* для увеличения текста */
	border-radius: 7px;
}
.np input[type="submit"] {
	height: toRem(30);
	background-color: #43ea4bf6;
	font-family: "Philosopher", sans-serif;
	font-size: toRem(20);
	font-weight: 500;
	font-style: normal;
	color: rgb(19, 18, 18);
	border-radius: 7px;
	cursor: pointer;
}

.logout input[type="submit"] {
	// height: toRem(30);
	background-color: #f4f7f4f6;
	font-family: "Philosopher", sans-serif;
	font-size: toRem(20);
	font-weight: 500;
	font-style: normal;
	padding: toRem(10);
	color: rgb(19, 18, 18);
	cursor: pointer;
	border-radius: 7px;
}
input.email::placeholder {
	text-align: center;
}
#password {
	text-align: center;
}
// ==============================================================
.register {
	background-image: url(../css/icon/8.8.jpg); /* Укажите путь к вашему изображению */
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-position: center;
	z-index: 0; /* Помещаем позади содержимого */

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		z-index: 10; /* Помещаем содержимое поверх фона */
	}
	& h2 {
		font-family: "Philosopher", sans-serif;
		font-size: toRem(50);
		font-weight: 700;
		font-style: normal;
		color: rgb(250, 249, 249);
		text-shadow:
			2px -2px 1px rgb(18, 17, 17),
			3px -3px 1px rgb(252, 251, 251),
			4px -4px 1px rgb(7, 7, 7);
	}
	& label {
		font-family: "Philosopher", sans-serif;
		font-size: toRem(20);
		font-weight: 700;
		font-style: normal;
		color: white;
		// background-color: rgba(255, 255, 255, 0.392);
		// padding: toRem(10);
	}
	& input {
		// padding: toRem(10);
	}
	& a {
		font-family: "Philosopher", sans-serif;
		font-size: toRem(20);
		font-weight: 900;
		font-style: normal;
	}
}
.rowe {
	display: flex;
	align-items: center;
	column-gap: toRem(30);
	& input {
		padding: toRem(10);
		border-radius: 5px;
	}
}

.register__container fieldset {
	width: 800px;
	display: flex;
	align-items: center;
	row-gap: toRem(20);
}

.reg,
.res {
	cursor: pointer;
	font-family: "Philosopher", sans-serif;
	font-size: toRem(20);
	font-weight: 400;
	font-style: normal;
	padding: toRem(10);
	border-radius: 10px;
}

.reg {
	background-color: rgba(0, 255, 4, 0.473);
}
.res {
	background-color: rgba(247, 62, 62, 0.473);
}
.registration-cancel {
	color: #faf7f7;
}

// ====================================  statistic    ===========================================================================
.stt {
	background-image: url(../css/icon/7.7.7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	padding-top: toRem(50);
}

.statistic {
	&__container {
		background-color: rgba(76, 76, 242, 0.406);
		z-index: 10;
	}
	&__button {
		display: flex;
		justify-content: space-around;
		margin: toRem(50) 0;
		& a {
			font-family: "Philosopher", sans-serif;
			font-size: toRem(20);
			font-weight: 700;
			color: #eae7e7;
			font-style: normal;
			margin-left: toRem(20);
			text-decoration: none;
			&:hover {
				text-shadow:
					3px 3px 3px rgb(242, 242, 244),
					-3px -3px 3px rgb(243, 243, 245);
				color: #0e0e0e;
			}
		}
	}
	&__title {
		text-align: center;
		& h3 {
			font-family: "Philosopher", sans-serif;
			font-size: toRem(50);
			font-weight: 700;
			font-style: normal;
			color: rgb(252, 251, 252);
			text-shadow:
				2px -2px 1px rgb(18, 17, 17),
				3px -3px 5px rgb(252, 251, 251),
				4px -4px 1px rgb(7, 7, 7);
		}
	}
	&__nav {
	}
	&__exit {
	}
	&__table {
	}
}
.logger-user {
}
.table {
}

// ==============================  .user   =====================================================================

.use {
	background-image: url(../css/icon/0.1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	padding-top: toRem(50);
}

.user {
	&__container {
		background-color: rgba(76, 76, 242, 0.406);
		z-index: 10;
	}
	&__title {
		text-align: center;
		& h3 {
			font-family: "Philosopher", sans-serif;
			font-size: toRem(50);
			font-weight: 700;
			font-style: normal;
			color: rgb(252, 251, 252);
			text-shadow:
				2px -2px 1px rgb(18, 17, 17),
				3px -3px 5px rgb(252, 251, 251),
				4px -4px 1px rgb(7, 7, 7);
		}
	}
	&__button {
		display: flex;
		justify-content: space-around;
		margin: toRem(50) 0;
		& a {
			font-family: "Philosopher", sans-serif;
			font-size: toRem(20);
			font-weight: 700;
			color: #eae7e7;
			font-style: normal;
			margin-left: toRem(20);
			text-decoration: none;
			&:hover {
				text-shadow:
					3px 3px 3px rgb(242, 242, 244),
					-3px -3px 3px rgb(243, 243, 245);
				color: #0e0e0e;
			}
		}
	}
	&__nav {
	}
	&__exit {
	}
	&__table button {
		background-color: #ef2c2c;
		color: white;
		cursor: pointer;
		padding: toRem(5);
		text-transform: uppercase;
		&:hover {
			background-color: #f7f3f3;
			color: #ef0808;
		}
	}
}
.logger-user {
}
