// обновлять страницу после смены стиля рут ....

@import "src/resources/static/css/null.css";
@import "src/resources/static/css/var.css";
@import "src/resources/static/css/basestyle.css";

// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

@function toRem($value) {
	// Базовый размер шрифта (обычно 16px)
	$baseFontSize: 16;
	// Вычисление значения в rem
	@return ($value / $baseFontSize) * 1rem;
}
// !Миксины ================================================================================
// adaptiveValue = ($property-css стиль, $pcSize-максимальный параметр, $mobSize-минимальный параметр)

$maxWidth: 1620; // Ширина полотна (макета)

@mixin adaptiveValue($property, $pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;

	@media (min-width: toRem(1620)) {
		#{$property}: #{$pcSize + px};
	}

	@media (max-width: toRem(1620)) {
		@media (max-width: 1620px) {
			#{$property}: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 767px) / #{$maxWidth}));
		}
	}
}
//   @include adaptiveValue ($property , $pcSize, $mobSize);

// ..................................................................................
// общие стили
[class*="__container"] {
	max-width: toRem(1620);
	padding: toRem(50) toRem(15);
	margin: 0 auto;
}
// ......................................................................................

.wrr {
	background-image: url(../css/icon/4.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.background-image {
	position: fixed; /* Фиксированное позиционирование */
	top: 0; /* Прикрепить к верхней части */
	left: 0; /* Прикрепить к левой части */
	width: 100%; /* Задает ширину 100% */
	height: 100vh; /* Задает высоту 100% */
	// background-color: #f7f4f4e1;
	background-color: rgba(0, 0, 255, 0.205);
}

.wrapper__container {
	position: relative;
}
.btn-group {
	display: flex;
	justify-content: space-around;
}

.d-inline-block select {
	cursor: pointer;
	margin-right: toRem(50);
}

.d-inline-block label {
	box-shadow: 1px 1px 5px rgb(251, 250, 250);
	background-color: rgb(251, 163, 163);
	color: rgb(6, 6, 6);
	font-size: toRem(18);
	border-radius: toRem(10);
	font-family: "Philosopher", sans-serif;
	font-weight: 700;
	font-style: italic;
	padding: toRem(10);
	// margin-right: toRem(20);
}
.btn {
	padding: toRem(10) toRem(15);
	font-size: toRem(20);
	border-radius: toRem(10);
	font-family: "Philosopher", sans-serif;
	font-weight: 700;
	font-style: italic;
	box-shadow: 1px 1px 5px rgb(251, 250, 250);

	&:hover {
		background-color: rgb(128, 128, 241);
		border: 2px solid black;
	}
}
.btn-primary {
	background-color: rgba(38, 186, 15, 0.687);
	border: 2px solid rgb(38, 186, 15);
	color: white;
	&:hover {
		background-color: rgba(143, 241, 128, 0.682);
		border: 2px solid black;
		color: rgb(10, 10, 10);
	}
}

.filter {
	background-color: rgba(251, 163, 163, 0.881);
	border: 2px solid rgb(251, 163, 163);
	color: rgb(16, 16, 16);
	cursor: pointer;
	&:hover {
		background-color: rgba(243, 93, 93, 0.662);
		border: 2px solid black;
		color: rgb(249, 248, 248);
	}
}
.tovar {
	background-color: rgb(117, 10, 225);
	border: 2px solid rgb(117, 10, 225);
	color: rgb(247, 245, 245);
	cursor: pointer;
	&:hover {
		// background-color: rgb(165, 90, 240);
		background-color: rgba(0, 0, 255, 0.199);
		border: 2px solid black;
	}
}

.tableted {
	position: relative; /* для липкости шапки */
	margin-top: toRem(50);
	// max-height: toRem(1500); /* Ограничение высоты блока */
	overflow: hidden; /* Скрываем все, что выходит за пределы блока */
}

.sticky-header th {
	background-color: rgba(0, 0, 255, 0.199);
}
.sticky-header {
	border-radius: 5px;
	position: sticky; /* Делаем заголовок липким */
	top: 0; /* Устанавливаем отступ сверху */
	background-color: white; /* Задайте цвет фона, чтобы скрыть содержимое под ним */
	// background-color: rgba(0, 0, 255, 0.199);
	z-index: 10; /* Убедитесь, что заголовок выше других элементов */
}
.table {
	// border: 1px solid black;
	width: toRem(1400);
	width: 100%;
	border-collapse: separate; /* Включаем раздельное отображение границ */
	border-spacing: 0 10px; /* Горизонтальные отступы между строками */
	margin: 0 auto;
	font-size: toRem(18);
	// border-collapse: collapse; /* Убираем двойные границы между ячейками */
}

thead {
	background-color: rgba(0, 0, 255, 0.199);
	display: block; /* Это позволит использовать фиксированные ширины */
}

.tbody {
	display: block; /* Позволяет применять прокрутку к tbody */
	// max-height: ; /* Ограничиваем высоту для прокрутки */
	overflow-y: auto; /* Включаем вертикальную прокрутку */
}
.tbody a {
	color: white;
}
tbody tr {
	background-color: rgba(0, 0, 255, 0.199); /* Легкий фон для строк */
	font-size: toRem(20);
	color: white;
}

th,
td {
	width: 8%; /* Пример ширины, вы можете изменить на свое усмотрение */
	text-align: center; /* Центрируем текст */
	vertical-align: middle; /* Выравниваем по вертикали */
	overflow-wrap: break-word; /* Разрешаем перенос слов */
	word-wrap: break-word; /* Разрешаем перенос слов (для совместимости) */
	white-space: normal; /* Позволяем перенос строк */
	border-bottom: 1px solid #ddd; /* Добавляем нижнюю границу для ячеек */
}

th {
	font-size: toRem(20);
	font-family: "Philosopher", sans-serif;
	font-weight: 700;
	font-style: normal;
	padding: toRem(10);
	color: rgb(17, 17, 17);
}

td {
	padding: 10px; /* Отступы внутри ячеек */
	white-space: normal; /* Позволяет перенос строк */
	overflow-wrap: break-word; /* Позволяет перенос слов */
	word-wrap: break-word; /* Для совместимости */
	text-align: center; /* Центрируем текст по горизонтали */
	vertical-align: middle; /* Центрируем текст по вертикали */
	width: 8%; /* Убедитесь, что ширина ячейки установлена */
}

// ======================================================

.error-message {
	color: #ff0000;
}
.wr {
	background-image: url(../css/icon/2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	// height: 100vh;
	padding-top: toRem(200);
}
.wrapper {
	height: 75vh;
	&__container {
		border-radius: 10px;
		// background-color: rgba(172, 255, 47, 0);
	}
}
.new {
	display: flex;
	flex-direction: column;
	align-items: center;
	& h2 {
		font-family: "Philosopher", sans-serif;
		font-size: toRem(44);
		font-weight: 700;
		font-style: normal;
		color: white;
		text-shadow: 2px 2px 3px black;
	}
}
.form-block {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	font-family: "Philosopher", sans-serif;
	font-size: toRem(24);
	font-weight: 700;
	font-style: normal;
	color: white;
	text-shadow: 2px 2px 3px black;
}

input::placeholder {
	color: rgba(255, 255, 255, 0.5);
	font-style: italic;
	font-size: 14px;
	color: black;
}

.form-control {
	background-color: #f0f0f0; /* Цвет фона */
	border: 1px solid #131313; /* Цвет рамки */
	padding: 10px; /* Отступы */
	border-radius: 5px; /* Скругление углов */
	font-size: 16px; /* Размер шрифта */
	box-shadow: 1px 1px 5px rgb(251, 250, 250);
}

/* Стили для выбранного элемента */
.form-control option {
	color: #0c0b0b; /* Цвет текста для опций */
	box-shadow: 1px 1px 5px rgb(251, 250, 250);
	background-color: rgb(251, 163, 163);
	font-size: toRem(18);
	border-radius: toRem(10);
	font-family: "Philosopher", sans-serif;
	font-weight: 700;
	font-style: italic;
	padding: toRem(10);
}

.input-field {
	width: 200px; /* Ширина поля ввода */
	height: 20px; /* Высота поля ввода */
	padding: 10px; /* Отступы внутри поля */
	font-size: 16px; /* Размер шрифта */
	border: 1px solid #ccc; /* Цвет рамки */
	border-radius: 5px; /* Скругление углов */
	background-color: #f0f0f0; /* Цвет фона */
	font-weight: 700;
}

.d-flex {
	position: absolute;
	top: toRem(150);
	margin-left: 50%;
	display: flex;
	column-gap: toRem(20);
	margin-top: toRem(100);
}

.adaptiv-class {
	// border: 1px solid black;
	position: relative;
	@media (max-width: toRem(1401)) {
		display: flex;
		flex-direction: column;
		row-gap: toRem(10);
		align-items: center;
	}
}

.adaptiv-class .error-message {
	position: absolute;
	top: 70px;
	background-color: white;
	z-index: 10;
}

.btn-back {
	background-color: rgba(0, 0, 255, 0.199);
	&:hover {
		background-color: #eae7e7;
		border: none;
	}
}
.d-flex a {
	color: white;
	&:hover {
		color: rgb(13, 13, 13);
	}
}
// ============================   product  =======================================================

.wrrr {
	background-image: url(../css/icon/5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 97vh;
	// padding-top: toRem(200);
}
.pr {
	background-color: rgba(0, 0, 255, 0.182);
}
.product {
	text-align: center;
	// border: 1px solid black;
	& h2 {
		font-size: toRem(50);
		color: black;
		text-shadow: 2px -2px 5px white;
	}
}
.form__block {
	display: flex;
	align-items: center;
	justify-content: space-around;
	// border: 1px solid black;
	// padding: toRem(30) 0;
	margin-bottom: toRem(50);
}
.form__block--block {
	display: flex;
	flex-direction: column;
	row-gap: toRem(20);
	& input {
		width: toRem(300);
		height: toRem(40);
		font-size: toRem(20);
		font-weight: 700;
	}
}
.form__block label {
	padding: toRem(10); /* Отступы внутри поля */
	font-size: toRem(26); /* Размер шрифта */
	border: 1px solid #ccc; /* Цвет рамки */
	border-radius: 5px; /* Скругление углов */
	background-color: #f0f0f0; /* Цвет фона */
	font-weight: 700;
}
.product__status {
	font-size: toRem(20);
	border: 1px solid #ccc; /* Цвет рамки */
	border-radius: 10px; /* Скругление углов */
	background-color: #ef2c2c; /* Цвет фона */
	padding: toRem(10); /* Отступы внутри поля */
	color: white;
}

.button__block--status label {
	color: #0c0b0b; /* Цвет текста для опций */
	box-shadow: 1px 1px 5px rgb(251, 250, 250);
	background-color: rgb(251, 163, 163);
	font-size: toRem(18);
	border-radius: toRem(10);
	font-family: "Philosopher", sans-serif;
	font-weight: 700;
	font-style: italic;
	padding: toRem(10);
}

.button__block--button form {
	display: flex;
	text-align: center;
	flex-direction: row;
	justify-content: space-around;
}

.d-flex2 {
	display: flex;
	column-gap: toRem(20);
	margin-top: toRem(100);
	& a {
		color: white;
		text-shadow: 1px 1px 2px black;
		&:hover {
			color: rgb(8, 8, 8);
		}
	}
}

.button-danger {
	margin-top: toRem(100);
	background-color: rgba(251, 163, 163, 0.881);
	border: 2px solid rgb(251, 163, 163);
	color: rgb(16, 16, 16);
	height: toRem(50);
	cursor: pointer;
	&:hover {
		background-color: rgba(243, 93, 93, 0.662);
		border: 2px solid black;
		color: rgb(249, 248, 248);
	}
}
.btn-primary,
.btn-danger,
.button-danger {
	cursor: pointer;
}
// ==================================================================

.wrapper {
}

.wrapper.new--wr::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%; /* Увеличиваем ширину, чтобы изображение поместилось */
	height: 100%; /* Увеличиваем высоту, чтобы изображение поместилось */
	background-image: url(../css/icon/11.jpg); /* Укажите путь к вашему изображению */
	background-repeat: no-repeat;
	background-size: contain;
	transform-origin: center; /* Центр вращения */
	z-index: 0; /* Помещаем позади содержимого */
}
.wrapper.new--wr .new__container {
	position: relative;
	z-index: 10; /* Помещаем содержимое поверх фона */
}

.wrapper.new--wr::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 255, 0.187); /* Затемнение фона, настройте уровень затемнения */
	z-index: 1; /* Помещаем поверх фона */
}

.new {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;

		& h2 {
			font-family: "Philosopher", sans-serif;
			font-size: toRem(50);
			font-weight: 700;
			font-style: normal;
			// color: rgb(248, 243, 243);
			color: rgba(0, 0, 255, 0.333);
			text-shadow: 2px -2px 5px rgb(85, 82, 82);
		}

		& label {
			font-family: "Philosopher", sans-serif;
			font-size: toRem(24);
			font-weight: 700;
			font-style: normal;
			color: rgba(0, 0, 255, 0.333);
			text-shadow: 1px -1px 5px rgb(85, 82, 82);
		}
	}
}
.d-flex3 {
	margin-top: toRem(50);
	display: flex;
	column-gap: toRem(30);
	& a {
		color: white;
		text-shadow: 1px 1px 2px black;
	}
}
