@charset "UTF-8";
@import "src/resources/static/css/null.css";
@import "src/resources/static/css/var.css";
@import "src/resources/static/css/basestyle.css";
[class*=__container] {
  max-width: 101.25rem;
  padding: 3.125rem 0.9375rem;
  margin: 0 auto;
}

.wrr {
  background-image: url(../css/icon/1.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
}

.background-image {
  position: fixed; /* Фиксированное позиционирование */
  top: 0; /* Прикрепить к верхней части */
  left: 0; /* Прикрепить к левой части */
  width: 100%; /* Задает ширину 100% */
  height: 100vh; /* Задает высоту 100% */
  background-color: rgba(0, 0, 255, 0.205);
}

.wrapper__container {
  position: relative;
}

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.d-inline-block select {
  cursor: pointer;
  margin-right: 3.125rem;
}

.d-inline-block label {
  -webkit-box-shadow: 1px 1px 5px rgb(251, 250, 250);
          box-shadow: 1px 1px 5px rgb(251, 250, 250);
  background-color: rgb(251, 163, 163);
  color: rgb(6, 6, 6);
  font-size: 1.125rem;
  border-radius: 0.625rem;
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: italic;
  padding: 0.625rem;
}

.btn {
  padding: 0.625rem 0.9375rem;
  font-size: 1.25rem;
  border-radius: 0.625rem;
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: italic;
  -webkit-box-shadow: 1px 1px 5px rgb(251, 250, 250);
          box-shadow: 1px 1px 5px rgb(251, 250, 250);
}
.btn:hover {
  background-color: rgb(128, 128, 241);
  border: 2px solid black;
}

.btn-primary {
  background-color: rgba(38, 186, 15, 0.687);
  border: 2px solid rgb(38, 186, 15);
  color: white;
}
.btn-primary:hover {
  background-color: rgba(143, 241, 128, 0.682);
  border: 2px solid black;
  color: rgb(10, 10, 10);
}

.filter {
  background-color: rgba(251, 163, 163, 0.881);
  border: 2px solid rgb(251, 163, 163);
  color: rgb(16, 16, 16);
  cursor: pointer;
}
.filter:hover {
  background-color: rgba(243, 93, 93, 0.662);
  border: 2px solid black;
  color: rgb(249, 248, 248);
}

.tovar {
  background-color: rgb(117, 10, 225);
  border: 2px solid rgb(117, 10, 225);
  color: rgb(247, 245, 245);
  cursor: pointer;
}
.tovar:hover {
  background-color: rgba(0, 0, 255, 0.199);
  border: 2px solid black;
}

.tableted {
  position: relative; /* для липкости шапки */
  margin-top: 4.375rem;
  z-index: 50;
  background-color: rgba(0, 0, 255, 0.409);
  max-height: 65vh; /* Ограничиваем максимальную высоту таблицы (вы можете изменить на ваше усмотрение) */
  overflow: auto; /* Позволяет прокручивать таблицу по вертикали */
  overflow-x: hidden; /* Убирает горизонтальную прокрутку */
  -webkit-box-shadow: 9px 9px 16px rgb(234, 235, 237), -9px -9px 16px rgb(255, 255, 255);
          box-shadow: 9px 9px 16px rgb(234, 235, 237), -9px -9px 16px rgb(255, 255, 255);
}

.sticky-header th {
  padding: 1.25rem;
}

.sticky-header {
  position: sticky; /* Делаем шапку фиксированной */
  top: 0; /* Прилипание к верхней части контейнера */
  background-color: rgba(0, 0, 255, 0.874);
  color: white;
  z-index: 1; /* Устанавливаем высокий индекс, чтобы шапка была поверх остального контента */
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень для выделения 

.table {
				// /* Включаем раздельное отображение границ */
  border-spacing: 0 10px; /* Горизонтальные отступы между строками */
  margin: 0 auto;
  font-size: 1.125rem;
}

.tbody a {
  color: white;
}

tbody tr {
  background-color: rgba(0, 0, 255, 0.345); /* Легкий фон для строк */
  font-size: 1.25rem;
  color: white;
}

th,
td {
  width: 8%; /* Пример ширины, вы можете изменить на свое усмотрение */
  text-align: center; /* Центрируем текст */
  vertical-align: middle; /* Выравниваем по вертикали */
  overflow-wrap: break-word; /* Разрешаем перенос слов */
  word-wrap: break-word; /* Разрешаем перенос слов (для совместимости) */
  white-space: normal; /* Позволяем перенос строк */
  border-bottom: 1px solid #ddd; /* Добавляем нижнюю границу для ячеек */
  font-size: 1.25rem;
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(242, 238, 238);
}

.sticky-header th {
  padding: 0.625rem;
}

.tableted {
  margin-top: 4.375rem;
  z-index: 50;
  background-color: rgba(0, 0, 255, 0.409);
  max-height: 65vh; /* Ограничиваем максимальную высоту таблицы (вы можете изменить на ваше усмотрение) */
  overflow: auto; /* Позволяет прокручивать таблицу по вертикали */
  overflow-x: hidden; /* Убирает горизонтальную прокрутку */
  position: relative;
  -webkit-box-shadow: 9px 9px 16px rgb(234, 235, 237), -9px -9px 16px rgb(255, 255, 255);
          box-shadow: 9px 9px 16px rgb(234, 235, 237), -9px -9px 16px rgb(255, 255, 255);
}

.sticky-header {
  position: sticky; /* Делаем шапку фиксированной */
  top: 0; /* Прилипание к верхней части контейнера */
  background-color: rgba(0, 0, 255, 0.874);
  color: white;
  z-index: 1; /* Устанавливаем высокий индекс, чтобы шапка была поверх остального контента */
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень для выделения 
}



	padding: 10px; /* Отступы внутри ячеек */
}

.table tbody tr td {
  padding: 15px;
  position: relative;
  cursor: pointer;
}

tbody tr:hover {
  -webkit-box-shadow: 1px 15px 5px rgba(58, 58, 240, 0.582), -1px -15px 5px rgba(51, 51, 252, 0.519);
          box-shadow: 1px 15px 5px rgba(58, 58, 240, 0.582), -1px -15px 5px rgba(51, 51, 252, 0.519);
  background-color: blue;
}

.highlight {
  background-color: rgba(7, 7, 247, 0.582);
  -webkit-box-shadow: 15px 1px 5px rgba(60, 60, 247, 0.582), -15px -1px 5px rgba(59, 59, 247, 0.519);
          box-shadow: 15px 1px 5px rgba(60, 60, 247, 0.582), -15px -1px 5px rgba(59, 59, 247, 0.519);
}

.out {
  margin-top: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}

.out--button {
  padding: 0.625rem;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.error-message {
  color: #ff0000;
  text-shadow: 1px 1px 2px white;
}

.wr {
  background-image: url(../css/icon/333.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 12.5rem;
}

.wrapper {
  height: 75vh;
}
.wrapper__container {
  border-radius: 10px;
}

.new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.new h2 {
  font-family: "Philosopher", sans-serif;
  font-size: 2.75rem;
  font-weight: 700;
  font-style: normal;
  color: white;
  text-shadow: 2px 2px 3px black;
}

.form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Philosopher", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  color: white;
  text-shadow: 2px 2px 3px black;
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
  font-size: 14px;
  color: black;
}

input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
  font-size: 14px;
  color: black;
}

input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
  font-size: 14px;
  color: black;
}

input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
  font-size: 14px;
  color: black;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
  font-size: 14px;
  color: black;
}

.form-control {
  background-color: #f0f0f0; /* Цвет фона */
  border: 1px solid #131313; /* Цвет рамки */
  padding: 10px; /* Отступы */
  border-radius: 5px; /* Скругление углов */
  font-size: 16px; /* Размер шрифта */
  -webkit-box-shadow: 1px 1px 5px rgb(251, 250, 250);
          box-shadow: 1px 1px 5px rgb(251, 250, 250);
}

.form-control option {
  color: #0c0b0b; /* Цвет текста для опций */
  -webkit-box-shadow: 1px 1px 5px rgb(251, 250, 250);
          box-shadow: 1px 1px 5px rgb(251, 250, 250);
  background-color: rgb(251, 163, 163);
  font-size: 1.125rem;
  border-radius: 0.625rem;
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: italic;
  padding: 0.625rem;
}

.input-field {
  width: 200px; /* Ширина поля ввода */
  height: 20px; /* Высота поля ввода */
  padding: 10px; /* Отступы внутри поля */
  font-size: 16px; /* Размер шрифта */
  border: 1px solid #ccc; /* Цвет рамки */
  border-radius: 5px; /* Скругление углов */
  background-color: #f0f0f0; /* Цвет фона */
  font-weight: 700;
}

.d-flex {
  position: absolute;
  top: 9.375rem;
  margin-left: 50%;
  top: 15.625rem;
  margin-left: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  margin-top: 6.25rem;
}

.adaptiv-class {
  min-height: 8.125rem;
  position: relative;
}
@media (max-width: 87.5625rem) {
  .adaptiv-class {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.625rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.adaptiv-class .error-message {
  position: absolute;
  top: 70px;
  padding: 0.625rem;
  text-align: center;
  z-index: 10;
}

.btn-back {
  background-color: rgba(0, 0, 255, 0.199);
}
.btn-back:hover {
  background-color: #eae7e7;
  border: none;
}

.d-flex a {
  color: white;
}
.d-flex a:hover {
  color: rgb(13, 13, 13);
}

.wrrr {
  background-image: url(../css/icon/44.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.pr {
  background-color: rgba(0, 0, 255, 0.182);
}

.product {
  text-align: center;
}
.product h2 {
  font-size: 3.125rem;
  color: black;
  text-shadow: 2px -2px 5px white;
}

.form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 3.125rem;
}

.form__block--block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
}
.form__block--block input {
  width: 18.75rem;
  height: 2.5rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.form__block label {
  padding: 0.625rem; /* Отступы внутри поля */
  font-size: 1.625rem; /* Размер шрифта */
  border: 1px solid #ccc; /* Цвет рамки */
  border-radius: 5px; /* Скругление углов */
  background-color: #f0f0f0; /* Цвет фона */
  font-weight: 700;
}

.product__status {
  font-size: 1.25rem;
  border: 1px solid #ccc; /* Цвет рамки */
  border-radius: 10px; /* Скругление углов */
  background-color: #ef2c2c; /* Цвет фона */
  padding: 0.625rem; /* Отступы внутри поля */
  color: white;
}

.button__block--status label {
  color: #0c0b0b; /* Цвет текста для опций */
  -webkit-box-shadow: 1px 1px 5px rgb(251, 250, 250);
          box-shadow: 1px 1px 5px rgb(251, 250, 250);
  background-color: rgb(251, 163, 163);
  font-size: 1.125rem;
  border-radius: 0.625rem;
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: italic;
  padding: 0.625rem;
}

.button__block--button form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.d-flex2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  margin-top: 6.25rem;
}
.d-flex2 a {
  color: white;
  text-shadow: 1px 1px 2px black;
}
.d-flex2 a:hover {
  color: rgb(8, 8, 8);
}

.d-flex4 {
  position: absolute;
  bottom: 3.125rem;
  left: 34.375rem;
}

.button-danger {
  margin-top: 6.25rem;
  background-color: rgba(251, 163, 163, 0.881);
  border: 2px solid rgb(251, 163, 163);
  color: rgb(16, 16, 16);
  height: 3.125rem;
  cursor: pointer;
}
.button-danger:hover {
  background-color: rgba(243, 93, 93, 0.662);
  border: 2px solid black;
  color: rgb(249, 248, 248);
}

.btn-primary,
.btn-danger,
.button-danger {
  cursor: pointer;
}

.new--wr {
  background-image: url(../css/icon/66.jpg); /* Укажите путь к вашему изображению */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  z-index: 0; /* Помещаем позади содержимого */
}

.wrapper.new--wr .new__container {
  position: relative;
  z-index: 10; /* Помещаем содержимое поверх фона */
}

.new__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.new__container h2 {
  font-family: "Philosopher", sans-serif;
  font-size: 3.125rem;
  font-weight: 700;
  font-style: normal;
  color: white;
  text-shadow: 2px -2px 1px rgb(18, 17, 17), 3px -3px 1px rgb(252, 251, 251), 4px -4px 1px rgb(7, 7, 7);
}
.new__container label {
  font-family: "Philosopher", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  color: white;
  text-shadow: 1px -1px 5px rgb(87, 6, 174);
}

.d-flex3 {
  margin-top: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}
.d-flex3 a {
  color: white;
  text-shadow: 1px 1px 2px black;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 255, 0.333);
          box-shadow: 2px 2px 2px rgba(0, 0, 255, 0.333);
}

.d-flex3 button {
  -webkit-box-shadow: 2px 2px 2px rgba(55, 255, 0, 0.936);
          box-shadow: 2px 2px 2px rgba(55, 255, 0, 0.936);
}

.new--log {
  top: 0;
  left: 0;
  width: 100%; /* Увеличиваем ширину, чтобы изображение поместилось */
  height: 100vh; /* Увеличиваем высоту, чтобы изображение поместилось */
  background-image: url(../css/icon/9.jpg); /* Укажите путь к вашему изображению */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0; /* Помещаем позади содержимого */
}

.log__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 10; /* Помещаем содержимое поверх фона */
}
.log__container h2 {
  font-family: "Philosopher", sans-serif;
  font-size: 3.125rem;
  font-weight: 700;
  font-style: normal;
  color: rgb(87, 82, 82);
  text-shadow: 2px -2px 1px rgb(18, 17, 17), 3px -3px 1px rgb(252, 251, 251), 4px -4px 1px rgb(7, 7, 7);
}
.log__container p {
  font-family: "Philosopher", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  font-style: normal;
  color: rgb(19, 18, 18);
}
.log__container p a {
  color: rgb(127, 26, 243);
  cursor: pointer;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
}
.log__container label {
  font-family: "Philosopher", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: normal;
  color: rgb(19, 18, 18);
  margin-bottom: 0.625rem;
}

.alert {
  font-family: "Philosopher", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: normal;
  color: rgb(19, 18, 18);
  font-style: italic;
}

fieldset {
  margin-top: 4.375rem;
  width: 18.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.25rem;
  margin-bottom: 1.875rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.609);
}

legend {
  font-family: "Philosopher", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: normal;
  color: rgb(19, 18, 18);
}

.np {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.np input[type=text],
.np input[type=password] {
  height: 30px; /* или любой другой размер */
  font-size: 16px; /* для увеличения текста */
  border-radius: 7px;
}

.np input[type=submit] {
  height: 1.875rem;
  background-color: rgba(67, 234, 75, 0.9647058824);
  font-family: "Philosopher", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  font-style: normal;
  color: rgb(19, 18, 18);
  border-radius: 7px;
}

.logout input[type=submit] {
  background-color: rgba(244, 247, 244, 0.9647058824);
  font-family: "Philosopher", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  font-style: normal;
  padding: 0.625rem;
  color: rgb(19, 18, 18);
  cursor: pointer;
  border-radius: 7px;
}

input.email::-webkit-input-placeholder {
  text-align: center;
}

input.email::-moz-placeholder {
  text-align: center;
}

input.email:-ms-input-placeholder {
  text-align: center;
}

input.email::-ms-input-placeholder {
  text-align: center;
}

input.email::placeholder {
  text-align: center;
}

#password {
  text-align: center;
}

.register {
  background-image: url(../css/icon/10.jpg); /* Укажите путь к вашему изображению */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  z-index: 0; /* Помещаем позади содержимого */
}
.register__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 10; /* Помещаем содержимое поверх фона */
}
.register h2 {
  font-family: "Philosopher", sans-serif;
  font-size: 3.125rem;
  font-weight: 700;
  font-style: normal;
  color: rgb(87, 82, 82);
  text-shadow: 2px -2px 1px rgb(18, 17, 17), 3px -3px 1px rgb(252, 251, 251), 4px -4px 1px rgb(7, 7, 7);
}
.register label {
  font-family: "Philosopher", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  font-style: normal;
}
.register a {
  font-family: "Philosopher", sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
  font-style: normal;
}

.rowe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}
.rowe input {
  padding: 0.625rem;
  border-radius: 5px;
}

.register__container fieldset {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.25rem;
}

.reg,
.res {
  cursor: pointer;
  font-family: "Philosopher", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  font-style: normal;
  padding: 0.625rem;
  border-radius: 10px;
}

.reg {
  background-color: rgba(0, 255, 4, 0.473);
}

.res {
  background-color: rgba(247, 62, 62, 0.473);
}

