<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Всі товари</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="btn-group mb-3" role="group" aria-label="Actions">
    <form th:action="@{/articles/new-article}" method="get" class="d-inline-block">
        <button type="submit" class="btn btn-primary">Додати новий товар</button>
    </form>
    <form th:action="@{/categories/new-category}" method="get" class="d-inline-block ms-2">
        <button type="submit" class="btn btn-primary">Додати нову категорію</button>
    </form>
</div>

<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Категорія</th>
            <th>Назва</th>
            <th>Ціна закупівлі</th>
            <th>Ціна продажу</th>
            <th>Витрати</th>
            <th>Прибуток</th>
            <th>Кількість</th>
            <th>Продано</th>
            <th>Залишок</th>
            <th>Дата створення</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articles}">
            <td th:text="${article.id}"></td>
            <td th:text="${article.category.name}"></td>
            <td>
                <a th:href="@{/articles/{id}(id=${article.id})}"
                   th:text="${article.name}"></a>
            </td>
            <td th:text="${article.purchase}"></td>
            <td th:text="${article.sellingPrize}"></td>
            <td th:text="${article.spentMoney}"></td>
            <td th:text="${article.profit}"></td>
            <td th:text="${article.quantity}"></td>
            <td th:text="${article.soldQuantity}"></td>
            <td th:text="${article.remainder}"></td>
            <td th:text="${article.createdDate}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>