<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale = 1.0 , user-scalable = 0">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="src/main/resources/static/css/style.css">
    <title>StorageBox Login</title>
</head>

<body>

<div class=" new--log">
    <div class="log--fone"></div>
    <div class="background-image">
        <div class="log__container">
            <h2>Please Log In</h2>

            <div>
                <p>New here? Click <a th:href="@{/register}">here</a> to register
                </p>
            </div>
            <div th:if="${param.error}" class="alert alert-danger">Check your username and password
            </div>

            <div>
                <form th:action="@{/login}" method="post" id="loginForm" th:object="${user}">
                    <fieldset>
                        <legend>Login</legend>

                        <div class="np">
                            <label for="email">Username</label>
                            <input type="text" id="email" name="email" th:field="*{email}" required="required"
                                   class="email" placeholder="example@exam.com"/><br>

                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" th:field="*{password}"/>
                            <br>
                            <input type="submit" value="Login"/>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="logout">
                <form method="POST" th:action="@{/logout}">
                    <input type="submit" value="Logout"/>
                </form>
            </div>
        </div>
    </div>

</div>

</body>

</html>