<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Адмін Панель | Користувачи </title>

    <link rel="stylesheet" href="src\main/resources/static/css/style.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="image/x-icon" th:href="@{css/icon/favicon.ico}">

</head>

<body>
<div class="stt">

    <div class="fone--ton"></div>
    <div class="logger-user">
        <span th:text="${loggedUser.firstName+' '}"></span>
        <span th:text="${loggedUser.lastName}"></span>
    </div>
    <div class="user__container">


        <div class="user__title">
            <h3>Панель адміністратора - <span class="statistic__title--span">Керування користувачами</span></h3>
        </div>


        <div class="user__button">
            <nav class="user__nav">
                <a href="/admin/statistics">
                    <p>Статистика</p> <img th:src="@{/css/icon/chart_up.svg}">
                </a>
                <a href="/admin/users">
                    <p class="nav--active">Користувачи</p> <img th:src="@{/css/icon/users.svg}">
                </a>
            </nav>

            <div class="user__exit">
                <a href="/articles">
                    <p>Вихід</p> <img th:src="@{/css/icon/ex.png}">
                </a>
            </div>
        </div>

        <div class="user__table">
            <table class="table">
                <thead class="sticky-header">
                <tr>
                    <th>ID</th>
                    <th>Ім'я</th>
                    <th>Прізвище</th>
                    <th>Email</th>
                    <th>Ролі</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="userDTO : ${usersDTO}">
                    <form th:action="@{/admin/users/{id}(id=${userDTO.id})}" method="post">
                        <input type="hidden" name="_method" value="DELETE">

                        <td th:text="${userDTO.id}"></td>
                        <td th:text="${userDTO.firstName}"></td>
                        <td th:text="${userDTO.lastName}"></td>
                        <td>
                            <a th:href="@{/admin/users/{id}(id=${userDTO.id})}"
                               th:text="${userDTO.email}"> </a>
                        </td>


                        <td>
                            <ul>
                                <li th:each="role : ${userDTO.roles}">
                                    <span th:text="${role}"></span>
                                </li>
                            </ul>
                        </td>

                        <td>
                            <button type="submit"
                                    th:if="${userDTO.email!='admin@example.com'}"
                                    onclick="return confirm('Ви впевнені, що хочете видалити цього користувача?')">
                                Видалити
                            </button>
                        </td>
                    </form>

                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>
</html>